/*__________ Fonts +++ __________*/
/*__________ Fonts --- __________*/
/*__________ Heritage +++ __________*/
/*__________ Heritage --- __________*/
/*__________ Absolute +++ __________*/
/*__________ Absolute --- __________*/
/*__________ Animation +++ __________*/
/*__________ Animation --- __________*/
/*__________ Column +++ __________*/
/*__________ Column --- __________*/
/*__________ Text Mask +++ __________*/
/*__________ Text Mask --- __________*/
/*__________ Button Color +++ __________*/
/*__________ Button Color --- __________*/
/* ELEMENTS
=======================================================================================================================*/
.main_nav_menu_ls > li:nth-of-type(1) {
  -webkit-animation-delay: 1s !important;
  animation-delay: 1s !important;
}

.main_nav_menu_ls > li:nth-of-type(2) {
  -webkit-animation-delay: 1.2s !important;
  animation-delay: 1.2s !important;
}

.main_nav_menu_ls > li:nth-of-type(3) {
  -webkit-animation-delay: 1.4s !important;
  animation-delay: 1.4s !important;
}

.main_nav_menu_ls > li:nth-of-type(4) {
  -webkit-animation-delay: 1.6s !important;
  animation-delay: 1.6s !important;
}

.main_nav_menu_ls > li:nth-of-type(5) {
  -webkit-animation-delay: 1.8s !important;
  animation-delay: 1.8s !important;
}

.sec_1 .fp-slidesNav > ul > li:nth-of-type(1) {
  -webkit-animation-delay: 0.2s !important;
  animation-delay: 0.2s !important;
}

.sec_1 .fp-slidesNav > ul > li:nth-of-type(2) {
  -webkit-animation-delay: 0.4s !important;
  animation-delay: 0.4s !important;
}

.sec_1 .fp-slidesNav > ul > li:nth-of-type(3) {
  -webkit-animation-delay: 0.6s !important;
  animation-delay: 0.6s !important;
}

.sec_1 .fp-slidesNav > ul > li:nth-of-type(4) {
  -webkit-animation-delay: 0.8s !important;
  animation-delay: 0.8s !important;
}

.sec_1 .fp-slidesNav > ul > li:nth-of-type(5) {
  -webkit-animation-delay: 1s !important;
  animation-delay: 1s !important;
}

.sec_1 .fp-slidesNav > ul > li:nth-of-type(6) {
  -webkit-animation-delay: 1.2s !important;
  animation-delay: 1.2s !important;
}

.sec_1 .fp-slidesNav > ul > li:nth-of-type(7) {
  -webkit-animation-delay: 1.4s !important;
  animation-delay: 1.4s !important;
}

.cnts_join_scl > li > a > i.fa-facebook {
  background: #3b589e;
}

.cnts_join_scl > li > a > i.fa-facebook:hover {
  background: #4f6fbd;
}

.cnts_join_scl > li > a > i.fa-twitter {
  background: #00aced;
}

.cnts_join_scl > li > a > i.fa-twitter:hover {
  background: #21c2ff;
}

.cnts_join_scl > li > a > i.fa-linkedin {
  background: #0f75b1;
}

.cnts_join_scl > li > a > i.fa-linkedin:hover {
  background: #1394e0;
}

.cnts_join_scl > li > a > i.fa-google-plus {
  background: #dc4a38;
}

.cnts_join_scl > li > a > i.fa-google-plus:hover {
  background: #e47163;
}

.cnts_join_scl > li > a > i.fa-youtube-play {
  background: #fe0000;
}

.cnts_join_scl > li > a > i.fa-youtube-play:hover {
  background: #ff3232;
}

.prod_sm_it:nth-of-type(1) {
  -webkit-animation-delay: 0.8s !important;
  animation-delay: 0.8s !important;
}

.prod_sm_it:nth-of-type(2) {
  -webkit-animation-delay: 1s !important;
  animation-delay: 1s !important;
}

.prod_sm_it:nth-of-type(3) {
  -webkit-animation-delay: 1.2s !important;
  animation-delay: 1.2s !important;
}

.prod_sm_it:nth-of-type(4) {
  -webkit-animation-delay: 1.4s !important;
  animation-delay: 1.4s !important;
}

.prod_sm_it:nth-of-type(5) {
  -webkit-animation-delay: 1.6s !important;
  animation-delay: 1.6s !important;
}

.prod_sm_it:nth-of-type(6) {
  -webkit-animation-delay: 1.8s !important;
  animation-delay: 1.8s !important;
}

.isu_menu_ls > li:nth-of-type(1) {
  -webkit-animation-delay: 0s !important;
  animation-delay: 0s !important;
}

.isu_menu_ls > li:nth-of-type(2) {
  -webkit-animation-delay: 0.3s !important;
  animation-delay: 0.3s !important;
}

.isu_menu_ls > li:nth-of-type(3) {
  -webkit-animation-delay: 0.6s !important;
  animation-delay: 0.6s !important;
}

.work_advg_it:nth-of-type(1) > .work_advg_img {
  -webkit-animation-delay: 0s !important;
  animation-delay: 0s !important;
}

.work_advg_it:nth-of-type(1) > .work_advg_capt {
  -webkit-animation-delay: 1.4s !important;
  animation-delay: 1.4s !important;
}

.work_advg_it:nth-of-type(2) > .work_advg_img {
  -webkit-animation-delay: 0.2s !important;
  animation-delay: 0.2s !important;
}

.work_advg_it:nth-of-type(2) > .work_advg_capt {
  -webkit-animation-delay: 1.6s !important;
  animation-delay: 1.6s !important;
}

.work_advg_it:nth-of-type(3) > .work_advg_img {
  -webkit-animation-delay: 0.4s !important;
  animation-delay: 0.4s !important;
}

.work_advg_it:nth-of-type(3) > .work_advg_capt {
  -webkit-animation-delay: 1.8s !important;
  animation-delay: 1.8s !important;
}

.work_advg_it:nth-of-type(4) > .work_advg_img {
  -webkit-animation-delay: 0.6s !important;
  animation-delay: 0.6s !important;
}

.work_advg_it:nth-of-type(4) > .work_advg_capt {
  -webkit-animation-delay: 2s !important;
  animation-delay: 2s !important;
}

/* Muller
=======================================================================================================================*/
/*__________ Light +++ __________*/
@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy/Gilroy-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy/Gilroy-LightItalic.otf");
  font-weight: 300;
  font-style: italic;
}

/*__________ Light --- __________*/
/*__________ Regular +++ __________*/
@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy/Gilroy-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy/Gilroy-RegularItalic.otf");
  font-weight: normal;
  font-style: italic;
}

/*__________ Regular --- __________*/
/*__________ Medium +++ __________*/
@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy/Gilroy-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy/Gilroy-MediumItalic.otf");
  font-weight: 500;
  font-style: italic;
}

/*__________ Medium --- __________*/
/*__________ Semi-Bold +++ __________*/
@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy/Gilroy-Semibold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy/Gilroy-SemiboldItalic.otf");
  font-weight: 600;
  font-style: italic;
}

/*__________ Semi-Bold --- __________*/
/*__________ Bold +++ __________*/
@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy/Gilroy-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy/Gilroy-BoldItalic.otf");
  font-weight: bold;
  font-style: italic;
}

/*__________ Bold --- __________*/
body {
  font-family: "Gilroy", sans-serif;
  font-weight: normal;
}

.ov-h {
  overflow: hidden !important;
}

img {
  max-width: 100%;
}

a,
button,
select,
input,
textarea {
  outline: 0 !important;
}

a:focus {
  text-decoration: none;
}

li {
  text-align: inherit;
}

/*__________ Custom Classes +++ __________*/
.cl-b::before, .cl-b::after {
  content: '';
  display: table;
}

.cl-b::after {
  clear: both;
}

.lis-n {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.tov-e {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.d-ib {
  display: inline-block;
  vertical-align: middle;
}

.ap-n {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.us-n {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.inr-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/*__________ Custom Classes --- __________*/
.h100 {
  height: 100%;
}

.custom_container {
  width: 100%;
  margin: auto;
  padding: 0 15px;
}

/* PAGE NAVIGATION
=======================================================================================================================*/
.pg_nav {
  position: fixed;
  right: 50px;
  top: 25%;
  z-index: 99;
}

.fp-responsive .pg_nav {
  display: none;
}

.pg_nav_menu {
  -webkit-box-shadow: 1px 1px 8px #c5c5c5;
  box-shadow: 1px 1px 8px #c5c5c5;
  background: #fff;
}

.pg_nav_menu > li + li {
  border-top: 1px solid #dbdbdb;
}

.pg_nav_menu > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
  background: #fff;
  color: inherit;
}

.pg_nav_menu > li > a::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-animation: slideOutRight .5s ease both;
  animation: slideOutRight .5s ease both;
  background: #f42a2a;
  z-index: 1;
}

.pg_nav_menu > li > a > span {
  position: relative;
  z-index: 3;
}

.pg_nav_menu > li.active > a {
  -webkit-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s;
  color: #fff;
}

.pg_nav_menu > li.active > a::before {
  -webkit-animation: slideInLeft .5s ease both .5s;
  animation: slideInLeft .5s ease both .5s;
}

.pg_nav_menu > li:not(.active) > a:hover {
  color: #f42a2a;
}

/* FULLPAGE
=======================================================================================================================*/
.sec_inr {
  height: 100%;
  position: relative;
}

/*__________ Main +++ __________*/
.sec_1 {
  /*__________ Main Banner Circles __________*/
  /*__________ Main Navigation __________*/
  /*__________ Mouse Scroll __________*/
  /*__________ Main Banner __________*/
}

.sec_1 .fp-controlArrow {
  display: none;
}

.sec_1 .fp-slidesNav {
  left: 15%;
}

.sec_1 .fp-slidesNav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec_1 .fp-slidesNav > ul > li {
  width: initial;
  height: initial;
  margin: 0;
  -webkit-animation: fadeInRight .5s ease both;
  animation: fadeInRight .5s ease both;
}

.sec_1 .fp-slidesNav > ul > li + li {
  margin-left: 10px;
}

.sec_1 .fp-slidesNav > ul > li > a {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  overflow: hidden;
  background: #fff;
}

.sec_1 .fp-slidesNav > ul > li > a > span {
  display: none;
  width: 70%;
  height: 70%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto !important;
  -webkit-animation: bounceIn .5s ease;
  animation: bounceIn .5s ease;
  background: #f42a2a;
}

.sec_1 .fp-slidesNav > ul > li > a.active > span {
  display: block;
  width: 70%;
  height: 70%;
}

.main_nav_bx {
  padding: 20px 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.main_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main_nav_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 20;
}

.main_nav_logo.fp {
  display: none;
  -webkit-animation: zoomIn 1s ease both;
  animation: zoomIn 1s ease both;
}

.fp-completely .main_nav_logo.fp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_nav_logo > a {
  display: block;
}

.main_nav_menu {
  position: relative;
  z-index: 20;
}

.main_nav_menu_ls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_nav_menu_ls > li + li {
  margin-left: 30px;
}

.main_nav_menu_ls > li > a {
  display: block;
  padding: 10px;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: inherit;
}

.main_nav_menu_ls > li > a::before {
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  left: 10px;
  margin: auto;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  background: #f42a2a;
}

.main_nav_menu_ls > li.active > a::before, .main_nav_menu_ls > li > a:hover::before {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

.main_nav_menu_ls.fp > li {
  display: none;
  -webkit-animation: fadeInDown .5s ease both;
  animation: fadeInDown .5s ease both;
}

.fp-completely .main_nav_menu_ls.fp > li {
  display: block;
}

.main_nav_menu_btn {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  position: fixed;
  top: 15px;
  right: 15px;
  -webkit-box-shadow: 0 0 7px #888;
  box-shadow: 0 0 7px #888;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #f42a2a;
  z-index: 99;
}

.main_nav_menu_btn > .line {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: relative;
  -webkit-transition: all .3s ease .5s;
  -o-transition: all .3s ease .5s;
  transition: all .3s ease .5s;
  background-color: #fff;
}

.main_nav_menu_btn > .line:nth-of-type(1) {
  top: 3px;
  left: 0;
}

.main_nav_menu_btn > .line:nth-of-type(2) {
  top: -3px;
  right: 0;
}

.main_nav_menu_btn > .line:nth-of-type(4) {
  bottom: -3px;
  left: 0;
}

.main_nav_menu_btn > .line:nth-of-type(5) {
  bottom: 3px;
  right: 0;
}

.main_nav_menu_btn.active {
  right: 265px;
}

.main_nav_menu_btn.active > .line:nth-of-type(1) {
  left: -9px;
}

.main_nav_menu_btn.active > .line:nth-of-type(2) {
  right: -9px;
}

.main_nav_menu_btn.active > .line:nth-of-type(4) {
  left: -9px;
}

.main_nav_menu_btn.active > .line:nth-of-type(5) {
  right: -9px;
}

.main_nav_menu_bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 95;
}

.main_nav_menu_bg.active {
  opacity: 1;
  visibility: visible;
}

.mouse_scl_bx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 70px;
  position: absolute;
  right: 0;
  bottom: 20px;
  left: 0;
  margin: auto;
  z-index: 15;
}

.mouse_scl_bx.fp {
  display: none;
  -webkit-animation: bounceInUp 1s ease 1.5s both;
  animation: bounceInUp 1s ease 1.5s both;
}

.fp-completely .mouse_scl_bx.fp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fp-responsive .mouse_scl_bx {
  display: none;
}

.mouse_scl {
  width: 21px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 9px;
  position: relative;
  -webkit-animation: animateMouse 5s linear 1s infinite;
  animation: animateMouse 5s linear 1s infinite;
}

@-webkit-keyframes animateMouse {
  0% {
    -webkit-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
  }
  3% {
    -webkit-transform: translateX(-5px) rotate(-10deg);
    transform: translateX(-5px) rotate(-10deg);
  }
  6% {
    -webkit-transform: translateX(5px) rotate(10deg);
    transform: translateX(5px) rotate(10deg);
  }
  9% {
    -webkit-transform: translateX(-5px) rotate(-10deg);
    transform: translateX(-5px) rotate(-10deg);
  }
  12% {
    -webkit-transform: translateX(5px) rotate(10deg);
    transform: translateX(5px) rotate(10deg);
  }
  15% {
    -webkit-transform: translateX(-5px) rotate(-10deg);
    transform: translateX(-5px) rotate(-10deg);
  }
  18% {
    -webkit-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
  }
}

@keyframes animateMouse {
  0% {
    -webkit-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
  }
  3% {
    -webkit-transform: translateX(-5px) rotate(-10deg);
    transform: translateX(-5px) rotate(-10deg);
  }
  6% {
    -webkit-transform: translateX(5px) rotate(10deg);
    transform: translateX(5px) rotate(10deg);
  }
  9% {
    -webkit-transform: translateX(-5px) rotate(-10deg);
    transform: translateX(-5px) rotate(-10deg);
  }
  12% {
    -webkit-transform: translateX(5px) rotate(10deg);
    transform: translateX(5px) rotate(10deg);
  }
  15% {
    -webkit-transform: translateX(-5px) rotate(-10deg);
    transform: translateX(-5px) rotate(-10deg);
  }
  18% {
    -webkit-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
  }
}

.mouse_scl_wl {
  display: block;
  width: 3px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  right: 0;
  left: 0;
  margin: auto;
  -webkit-animation: animateWheel 1s linear infinite;
  animation: animateWheel 1s linear infinite;
  background: #fff;
}

@-webkit-keyframes animateWheel {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  20% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  40% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes animateWheel {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  20% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  40% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.mouse_scl_capt {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 300;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #fff), color-stop(#000), color-stop(70%, #fff));
  background-image: -webkit-linear-gradient(left, #fff 30%, #000, #fff 70%);
  background-image: -o-linear-gradient(left, #fff 30%, #000, #fff 70%);
  background-image: linear-gradient(to right, #fff 30%, #000, #fff 70%);
  -webkit-animation: scrollText 3s linear infinite;
  animation: scrollText 3s linear infinite;
  color: #fff;
}

@-webkit-keyframes scrollText {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 45px 0;
  }
}

@keyframes scrollText {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 45px 0;
  }
}

.main_bnr {
  position: relative;
}

.main_bnr_bg_img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: center / cover no-repeat;
}

.main_bnr_capt_bx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 3;
}

.main_bnr_capt {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.4);
}

.main_bnr_capt_h {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: bold;
}

.main_bnr_capt_h > .warn {
  color: #f42a2a;
}

.main_bnr_capt_p {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 300;
}

/*__________ Main --- __________*/
/*__________ Product +++ __________*/
.prod_bx {
  background: #eee;
}

.fp-responsive .prod_bx {
  padding: 50px 0;
}

.prod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 90%;
}

.fp-responsive .prod {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 500px;
}

.prod_lg {
  width: 33.333333%;
  margin-right: 16px;
  position: relative;
  overflow: hidden;
}

.prod_lg.fp {
  display: none;
  -webkit-animation: fadeInUp .8s ease both;
  animation: fadeInUp .8s ease both;
}

.fp-completely .prod_lg.fp {
  display: block;
}

.fp-responsive .prod_lg {
  width: initial;
  height: 500px;
  margin-bottom: 16px;
  margin-right: 0;
}

.prod_lg_img, .prod_sm_img {
  height: 100%;
  background: center / cover no-repeat;
}

.prod_lg_capt, .prod_sm_capt {
  padding: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: #f42a2a;
  color: #fff;
}

.prod_lg_capt.fp, .fp.prod_sm_capt {
  display: none;
  -webkit-animation: slideInUp 1s ease both 2.1s;
  animation: slideInUp 1s ease both 2.1s;
}

.fp-completely .prod_lg_capt.fp, .fp-completely .fp.prod_sm_capt {
  display: block;
}

.prod_lg_info, .prod_sm_info {
  margin-bottom: 15px;
}

.prod_lg_ttl, .prod_sm_ttl {
  height: 52px;
  margin-top: 0;
  margin-bottom: 5px;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 600;
}

.prod_lg_txt {
  font-weight: 300;
}

.prod_lg_txt * {
  margin: 0;
}

.prod_lg_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.prod_lg_btn > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 15px;
  border: 1px solid #fff;
  border-radius: 4px;
  text-decoration: none;
  -webkit-transition: all	.3s ease;
  -o-transition: all	.3s ease;
  transition: all	.3s ease;
  background: #fff;
  color: #f42a2a;
}

.prod_lg_btn > a:hover {
  background: transparent;
  color: #fff;
}

.prod_lg_btn > a > i {
  margin-left: 5px;
  font-size: 16px;
}

.prod_sm_bx {
  width: 66.666666%;
}

.fp-responsive .prod_sm_bx {
  width: initial;
}

.prod_sm_it_bx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: calc(100% + 16px);
  margin: -8px;
}

.prod_sm_it {
  width: 33.333333%;
  height: 50%;
  padding: 8px;
}

.prod_sm_it.fp {
  display: none;
  -webkit-animation: fadeInRight .3s ease both;
  animation: fadeInRight .3s ease both;
}

.fp-completely .prod_sm_it.fp {
  display: block;
}

.fp-responsive .prod_sm_it {
  width: 50%;
  height: 350px;
}

.prod_sm {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.prod_sm_img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.prod_sm:hover .prod_sm_img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.prod_sm_info {
  margin-bottom: 10px;
}

.prod_sm_ttl {
  height: 44px;
  font-size: 20px;
}

.prod_sm_txt {
  max-height: 0;
  margin-bottom: 0;
  overflow: hidden;
  font-size: 12px;
  font-weight: 300;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.prod_sm:hover .prod_sm_txt {
  max-height: 100px;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.prod_sm_txt * {
  margin: 0;
}

.prod_sm_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.prod_sm_btn > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.prod_sm_btn > a > i {
  margin-left: 5px;
  font-size: 16px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.prod_sm_btn > a:hover > i {
  -webkit-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px);
}

/*__________ Product --- __________*/
/*__________ Issue +++ __________*/
.isu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  height: 90%;
}

.fp-responsive .isu {
  padding: 50px 0;
}

.isu_menu {
  height: 60%;
  margin-bottom: 20px;
}

.isu_menu_ls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fp-responsive .isu_menu_ls {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.isu_menu_ls > li {
  width: 33.3333333%;
}

.isu_menu_ls > li.fp {
  display: none;
  -webkit-animation: fadeInDown .8s ease both;
  animation: fadeInDown .8s ease both;
}

.fp-completely .isu_menu_ls > li.fp {
  display: block;
}

.isu_menu_ls > li + li {
  margin-left: 20px;
}

.fp-responsive .isu_menu_ls > li {
  width: 100%;
  max-width: 500px;
}

.fp-responsive .isu_menu_ls > li + li {
  margin-left: 0;
  margin-top: 20px;
}

.isu_it {
  display: block;
  height: 100%;
  position: relative;
  text-decoration: none !important;
  color: #fff !important;
}

.fp-responsive .isu_it {
  height: 500px;
}

.isu_it_div {
  height: 100%;
  position: relative;
}

.isu_it_div > .img {
  height: 100%;
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  background: center / cover no-repeat;
}

.isu_it:hover .isu_it_div > .img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.isu_it_div > .name {
  width: 80%;
  padding: 5px 20px;
  position: absolute;
  right: 0;
  bottom: 80px;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 600;
  background: #f42a2a;
}

.isu_it_news {
  height: 100%;
  position: relative;
}

.isu_it_news_img {
  height: 100%;
  background: center / cover no-repeat;
}

.isu_it_news_capt {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  background: rgba(244, 42, 42, 0.6);
}

.isu_it:hover .isu_it_news_capt {
  background: #f42a2a;
}

.isu_it_news_bg {
  padding-top: 5px;
  padding-left: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transform: rotate(-90deg) translateY(100%);
  -ms-transform: rotate(-90deg) translateY(100%);
  transform: rotate(-90deg) translateY(100%);
}

.isu_it_news_bg > .txt {
  display: block;
  white-space: nowrap;
  line-height: 1;
  text-transform: uppercase;
  font-size: 120px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.15);
}

.isu_it_news_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 50px;
}

.isu_it_news_name > img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 50px;
  margin-bottom: 15px;
}

.isu_it_news_name > .txt {
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 600;
}

.isu_ptnr {
  padding: 20px;
  border: 1px solid #ebebec;
}

.isu_ptnr.fp {
  display: none;
  -webkit-animation: fadeIn 1s ease both 1.4s;
  animation: fadeIn 1s ease both 1.4s;
}

.fp-completely .isu_ptnr.fp {
  display: block;
}

.isu_ptnr_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ebebec;
}

.isu_ptnr_bnr_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.isu_ptnr_bnr_btn:hover {
  color: #f42a2a;
}

.isu_ptnr_ttl > h3 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
}

.isu_ptnr_bnr .owl-item.loading {
  min-height: 0;
}

.isu_ptnr_bnr_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 80px;
  padding: 0 20px;
}

.isu_ptnr_bnr_img > img {
  max-height: 100%;
}

/*__________ Issue --- __________*/
/*__________ Work +++ __________*/
.work_advg_sec {
  height: 50%;
  background: #f1f1f1;
}

.work_advg_bx {
  height: calc(100% - 60px);
}

.fp-responsive .work_advg_bx {
  padding: 30px 0;
}

.work_advg {
  width: 100%;
  height: 100%;
  max-height: 300px;
}

.fp-responsive .work_advg {
  max-height: none;
}

.work_advg_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.fp-responsive .work_advg_menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.work_advg_it {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 25%;
  padding: 10px;
  background: #fff;
}

.work_advg_it + .work_advg_it {
  margin-left: 20px;
}

.fp-responsive .work_advg_it {
  width: 100%;
  max-width: 350px;
  padding: 20px;
}

.fp-responsive .work_advg_it + .work_advg_it {
  margin-left: 0;
  margin-top: 20px;
}

.work_advg_img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  padding: 17px;
  border: 2px solid #ebebec;
  border-radius: 50%;
}

.work_advg_img.fp {
  display: none;
  -webkit-animation: zoomIn .8s ease both;
  animation: zoomIn .8s ease both;
}

.fp-completely .work_advg_img.fp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work_advg_capt.fp {
  display: none;
  -webkit-animation: fadeInUp .3s ease both;
  animation: fadeInUp .3s ease both;
}

.fp-completely .work_advg_capt.fp {
  display: block;
}

.work_advg_name {
  margin-bottom: 10px;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}

.work_advg_txt {
  max-width: 270px;
  text-align: center;
  font-weight: 300;
  color: #989797;
}

.work_advg_tg_txt {
  height: 60px;
  font-size: 26px;
  font-weight: 500;
  background: #f42a2a;
  color: #fff;
}

.fp-responsive .work_advg_tg_txt {
  display: block;
  height: initial;
  padding: 15px;
  text-align: center;
  font-size: 20px;
}

.work_advg_tg_txt > a {
  margin-left: 10px;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  color: inherit;
}

.work_advg_tg_txt > a:hover {
  border-bottom-style: dashed;
}

.work_map_bx {
  height: 50%;
  position: relative;
}

.work_map_img > .img {
  height: 100%;
  background: center / cover no-repeat;
}

.fp-responsive .work_map_img > .img {
  height: 400px;
}

.work_map_foot {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.fp-responsive .work_map_foot {
  position: static;
}

.foot_bx {
  background: rgba(0, 0, 0, 0.8);
}

.foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0;
  color: #fff;
}

.foot_comp_bx {
  margin-right: 20px;
}

.foot_comp {
  margin-bottom: 5px;
}

.foot_adrs > a {
  color: inherit;
}

.foot_copy {
  margin-bottom: 5px;
}

.foot_dev > a {
  text-decoration: underline;
  color: #a8a7a7;
}

.foot_dev > a:hover {
  color: #f42a2a;
}

.tgr_mdl_bx {
  width: 100%;
  max-width: 500px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.5);
  -webkit-transform: translateX(105%);
  -ms-transform: translateX(105%);
  transform: translateX(105%);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  background: #fff;
}

.tgr_mdl_bx.active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.tgr_mdl {
  padding: 20px 50px;
}

.tgr_mdl_close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.tgr_mdl_close > button {
  width: 40px;
  height: 40px;
  border: 0;
  position: relative;
  background-color: transparent;
}

.tgr_mdl_close > button::before, .tgr_mdl_close > button::after {
  content: '';
  display: block;
  width: 24px;
  height: 2px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #f42a2a;
}

.tgr_mdl_close > button::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tgr_mdl_close > button::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.tgr_mdl_head {
  margin-bottom: 30px;
}

.tgr_mdl_ttl > h3 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.tgr_mdl_ttl > h3 > span {
  display: block;
}

.tgr_mdl_ttl > h3 > span.warn {
  color: #f42a2a;
}

.tgr_mdl_ttl > p {
  margin-bottom: 0;
  text-align: center;
  font-size: 16px;
  color: #717171;
}

.tgr_mdl_inp_bx + .tgr_mdl_inp_bx {
  margin-top: 20px;
}

.tgr_mdl_inp {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  background: #f1f1f1;
}

.tgr_mdl_inp:focus {
  background-color: transparent;
}

.tgr_mdl_btn_sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tgr_mdl_btn_sub > button {
  padding: 15px 40px;
  border: 0;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  background: #f42a2a;
  color: #fff;
}

.tgr_mdl_btn_sub > button:hover {
  background: #df0c0c;
}

.tgr_mdl_bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 95;
}

.tgr_mdl_bg.active {
  opacity: 1;
  visibility: visible;
}

/*__________ Work --- __________*/
/* NEWS
=======================================================================================================================*/
.hdr_nav {
  padding: 20px 0;
}

.hdr_bread_sec {
  height: 50px;
}

.hdr_bread_sec_inr {
  background: #f42a2a;
  color: #fff;
}

.hdr_bread_bx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hdr_bread_ls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 1px solid #d72626;
  border-right: 1px solid #d72626;
}

.hdr_bread_ls > li {
  position: relative;
  -webkit-perspective: 500px;
  perspective: 500px;
  z-index: 20;
}

.hdr_bread_ls > li + li {
  border-left: 1px solid #d72626;
}

.hdr_bread_ls > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  padding: 0 15px;
  text-decoration: none;
  color: inherit;
}

.hdr_bread_ls > li > a > .txt {
  font-weight: 500;
}

.hdr_bread_ls > li > a > i {
  margin-left: 10px;
}

.hdr_bread_ls > li > a:hover {
  background: #d72626;
}

.hdr_bread_drop {
  min-width: calc(100% + 2px);
  border: 1px solid #ddd;
  border-top: 0;
  position: absolute;
  top: 100%;
  left: -1px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: rotate3d(1, 0, 0, -90deg);
  transform: rotate3d(1, 0, 0, -90deg);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  background: #fff;
  color: #333;
}

.hdr_bread_drop > li + li {
  border-top: 1px solid #f1f1f1;
}

.hdr_bread_drop > li > a {
  display: block;
  padding: 10px 15px;
  white-space: nowrap;
  text-decoration: none;
  color: inherit;
}

.hdr_bread_drop > li > a:hover {
  color: #f42a2a;
}

.hdr_bread_ls > li.active > .hdr_bread_drop {
  opacity: 1;
  visibility: visible;
  -webkit-transform: rotate3d(0, 0, 0, 0);
  transform: rotate3d(0, 0, 0, 0);
}

.hdr_iqry > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  padding: 0 10px;
  border-left: 1px solid #d72626;
  border-right: 1px solid #d72626;
  text-decoration: none;
  font-weight: 500;
  color: inherit;
}

.hdr_iqry > a > img {
  margin-right: 5px;
}

.hdr_iqry > a:hover {
  background: #d72626;
}

.iqryMdl {
  color: #333;
}

.iqryMdl .modal-content {
  border-radius: 0;
}

.iqryMdl_cnt {
  padding: 20px;
  position: relative;
}

.iqryMdl_close {
  width: 40px;
  height: 40px;
  border: 0;
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: transparent;
}

.iqryMdl_close::before, .iqryMdl_close::after {
  content: '';
  display: block;
  width: 24px;
  height: 2px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #f42a2a;
}

.iqryMdl_close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.iqryMdl_close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.iqryMdl_head {
  margin-bottom: 20px;
  padding-top: 10px;
}

.iqryMdl_head > h4 {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}

.iqryMdl_head > p {
  margin-bottom: 0;
  font-size: 16px;
  color: #989797;
}

.iqryMdl_btn_sub > button {
  width: 100%;
  padding: 15px;
}

.bsc_sec {
  padding-top: 30px;
  padding-bottom: 200px;
}

.bsc_bx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bsc_asd {
  width: 22%;
  margin-right: 30px;
}

.bsc_nav_menu {
  background: #f1f1f1;
}

.bsc_nav_menu > li + li {
  border-top: 1px solid #fff;
}

.bsc_nav_menu > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px;
  border-left: 2px solid transparent;
  text-decoration: none;
  font-size: 16px;
  color: inherit;
}

.bsc_nav_menu > li > a > .txt {
  margin-right: 5px;
}

.bsc_nav_menu > li > a > i {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  color: #b6b5b5;
}

.bsc_nav_menu > li.active > a, .bsc_nav_menu > li > a:hover {
  border-left-color: #f42a2a;
  font-weight: 500;
}

.bsc_nav_menu > li.active > a > i, .bsc_nav_menu > li > a:hover > i {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.bsc_cnt {
  width: 78%;
}

.bsc_head {
  margin-bottom: 30px;
}

.bsc_head > .page {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 24px;
  color: #b8b8b8;
}

.bsc_head > .name {
  margin: 0;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
}

.news_body {
  border-top: 2px solid #f42a2a;
  border-bottom: 2px solid #f42a2a;
}

.news_ftr, .ntc_ftr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #ddd;
  border-top: 0;
}

.news_srch {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.news_srch_name, .news_ctgr_name, .ntc_ftr_sch_name, .ntc_ftr_srt_name {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  padding: 0 15px;
  border-right: 1px solid #ddd;
  font-size: 16px;
  background: #f7f7f7;
}

.news_srch_tool, .ntc_ftr_srt_tl {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
}

.news_srch_tool_it {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.news_srch_tool_it + .news_srch_tool_it {
  margin-left: 10px;
}

.news_srch_inp, .news_srch_sel, .news_ctgr_sel {
  width: 100%;
  height: 30px;
  padding: 0 5px;
  border: 1px solid #b8b8b8;
}

.news_srch_btn {
  height: 30px;
  padding: 0 15px;
  border: 0;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  background: #f42a2a;
  color: #fff;
}

.news_srch_btn:hover {
  background: #df0c0c;
}

.news_ctgr {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.news_ctgr_name, .ntc_ftr_sch_name {
  border-left: 1px solid #ddd;
}

.news_ctgr_tool {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0 20px;
}

.news_it {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

.news_it + .news_it {
  border-top: 1px solid #ddd;
}

.news_it_img {
  margin-right: 15px;
}

.news_it_img > .img {
  display: block;
  width: 145px;
  height: 145px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  background: center / cover no-repeat;
}

.news_it_img > .img:hover {
  -webkit-filter: brightness(150%);
  filter: brightness(150%);
}

.news_it_cnt {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.news_it_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.news_it_name > a {
  padding-bottom: 5px;
  position: relative;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  color: inherit;
}

.news_it_name > a::before {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all	.3s ease;
  -o-transition: all	.3s ease;
  transition: all	.3s ease;
  background: #f42a2a;
}

.news_it_name > a:hover {
  color: #f42a2a;
}

.news_it_name > a:hover::before {
  width: 100%;
}

.news_it_date {
  margin-bottom: 15px;
}

.news_it_date_ls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news_it_date_ls > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news_it_date_ls > li + li::before {
  content: '/';
  margin: 0 10px;
}

.news_it_date_ls > li > .txt {
  margin-right: 5px;
}

.news_it_date_ls > li > .val {
  color: #808080;
}

.news_it_txt {
  font-size: 16px;
}

.news_foot {
  padding: 20px 0;
}

.news_pgn_bx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.news_pgn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.news_pgn_it + .news_pgn_it {
  margin-left: 15px;
}

.news_pgn_ls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #d5d5d5;
}

.news_pgn_ls > li + li {
  border-left: 1px solid #d5d5d5;
}

.news_pgn_ls > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 34px;
  height: 34px;
  text-decoration: none;
  color: inherit;
}

.news_pgn_ls > li.active > a, .news_pgn_ls > li > a:hover {
  background: #f42a2a;
  color: #fff;
}

/* NEWS INNER
=======================================================================================================================*/
.news_in_body {
  margin-bottom: 30px;
}

.news_in_img {
  width: 33%;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.news_in_name {
  margin-bottom: 10px;
}

.news_in_name > h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-bottom: 5px;
  position: relative;
  font-size: 24px;
  font-weight: 600;
}

.news_in_name > h4::before {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all	.3s ease;
  -o-transition: all	.3s ease;
  transition: all	.3s ease;
  background: #f42a2a;
}

.news_in_date {
  margin-bottom: 20px;
}

.news_in_txt {
  font-size: 16px;
}

.news_in_back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news_in_back > a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  color: #f42a2a;
}

.news_in_back > a > i {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.news_in_back > a:hover > i {
  -webkit-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  transform: translateX(-5px);
}

/* IMPORTANT NOTICE
=======================================================================================================================*/
.ntc_head {
  margin-bottom: 40px;
  border-top: 2px solid #f42a2a;
}

.ntc_ftr_srt {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ntc_ftr_sch {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ntc_ftr_sch_tl {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ntc_ftr_chk_bx, .ntc_ftr_inp_bx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
}

.ntc_ftr_chk_it + .ntc_ftr_chk_it {
  margin-left: 20px;
}

.ntc_ftr_chk > label {
  margin-bottom: 0;
  padding-left: 20px;
  position: relative;
  cursor: pointer;
  font-weight: normal;
}

.ntc_ftr_chk > input ~ label::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #b8b8b8;
  position: absolute;
  top: 2px;
  left: 0;
}

.ntc_ftr_chk > input ~ label::after {
  content: '';
  display: block;
  width: 12px;
  height: 6px;
  border: 2px solid #fff;
  border-top: 0;
  border-right: 0;
  position: absolute;
  top: 5px;
  left: 2px;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.ntc_ftr_chk > input:checked ~ label::before {
  border-color: #f42a2a;
  background: #f42a2a;
}

.ntc_ftr_chk > input:checked ~ label::after {
  opacity: 1;
}

.ntc_ftr_inp_bx {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  border-left: 1px solid #ddd;
}

.ntc_ftr_inp {
  margin-right: 10px;
}

.ntc_body {
  border-top: 2px solid #f42a2a;
  border-bottom: 2px solid #f42a2a;
}

.ntc_tb_bx {
  overflow: auto;
}

.ntc_tb {
  display: table;
}

.ntc_tb .tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ntc_tb .tr .td {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 10px 15px;
}

.ntc_tb .tr .td + .td {
  border-left: 1px solid #ddd;
}

.ntc_tb .tr .td.num {
  width: 85px;
  text-align: center;
}

.ntc_tb .tr .td.ttl {
  width: calc(100% - 420px);
  min-width: 250px;
}

.ntc_tb .tr .td.auth {
  width: 145px;
}

.ntc_tb .tr .td.date {
  width: 110px;
}

.ntc_tb .tr .td.view {
  width: 80px;
}

.ntc_tb_head {
  border-bottom: 2px solid #ddd;
}

.ntc_tb_body {
  font-size: 16px;
}

.ntc_tb_body .tr_bx + .tr_bx {
  border-top: 1px solid #ddd;
}

.ntc_tb_body .tr_bx:nth-of-type(even) {
  background: #f7f7f7;
}

.ntc_tb_body .tr_bx .tr .td {
  padding: 15px;
}

.ntc_tb_ttl {
  max-height: 44px;
  overflow: hidden;
  cursor: pointer;
}

.ntc_tb_ttl:hover {
  color: #f42a2a;
}

.ntc_tb_body .tr_bx .tr.ttl {
  max-height: 80px;
  overflow: hidden;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.ntc_tb_body .tr_bx .tr.cnt {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.ntc_tb_drp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-top: 1px solid #f42a2a;
  border-bottom: 1px solid #f42a2a;
}

.ntc_tb_drp .td {
  border: 0 !important;
}

.ntc_tb_drp .td.drp {
  width: calc(100% - 85px);
}

.ntc_tb_drp_nm {
  margin-bottom: 10px;
  font-weight: bold;
}

.ntc_tb_drp_info {
  margin-bottom: 20px;
}

.ntc_tb_drp_txt {
  font-size: 14px;
}

.ntc_tb_drp_cls {
  font-size: 14px;
  color: #f42a2a;
}

.ntc_tb_drp_cls > .txt {
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.ntc_tb_drp_cls > .txt:hover {
  border-bottom-color: #f42a2a;
}

.ntc_tb_body .tr_bx.active .tr.ttl {
  max-height: 0;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.ntc_tb_body .tr_bx.active .tr.cnt {
  max-height: 1000px;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.ntc_foot {
  padding: 20px 0;
}

/* ABOUT
=======================================================================================================================*/
.about_img {
  width: 40%;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}

.about_img > img {
  width: 100%;
}

.about_txt {
  font-size: 16px;
}

.about_ttl {
  margin-bottom: 20px;
}

.about_ttl > p {
  margin-bottom: 0;
  font-weight: 600;
}

.about_cnt {
  font-size: 16px;
}

.about_cnt > p {
  margin-bottom: 15px;
  font-weight: 300;
}

.about_into_img {
  margin-bottom: 30px;
}

.about_into_img > img {
  width: 100%;
}

.about_htr {
  font-size: 16px;
  font-weight: 300;
}

.about_htr_tb_bx {
  margin-bottom: 70px;
  overflow: auto;
}

.about_htr_tb tr:nth-of-type(even) {
  background: #f7f7f7;
}

.about_htr_tb tr td {
  padding: 15px;
  border: 1px solid #ddd;
}

.about_htr_txt_hd {
  margin-bottom: 20px;
}

.about_htr_txt_hd > h3 {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
}

.about_htr_txt_bd {
  margin-bottom: 20px;
}

.about_htr_txt_ft > p {
  font-style: italic;
  color: #f42a2a;
}

/* CONTACTS
=======================================================================================================================*/
.cnts_ttl {
  margin-bottom: 30px;
}

.cnts_ttl > p {
  margin-bottom: 0;
  font-size: 16px;
}

.cnts_cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cnts_loc_bx {
  width: 60%;
  margin-right: 30px;
}

.cnts_loc {
  margin-bottom: 20px;
}

.cnts_loc_ttl {
  margin-bottom: 30px;
}

.cnts_loc_ttl > h4 {
  margin: 0;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}

.cnts_loc_ttl.red > h4 {
  color: #f42a2a;
}

.cnts_loc_cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 18px;
}

.cnts_loc_it {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  margin-bottom: 30px;
}

.cnts_loc_img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-right: 20px;
}

.cnts_loc_name {
  margin-bottom: 5px;
  line-height: 1;
  font-weight: bold;
}

.cnts_loc_txt {
  color: #989797;
}

.cnts_loc_txt > p {
  margin-bottom: 0;
}

.cnts_loc_txt > p > a {
  color: inherit;
}

.cnts_join_scl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.cnts_join_scl > li {
  margin-right: 15px;
  margin-bottom: 15px;
}

.cnts_join_scl > li > a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.cnts_join_scl > li > a > i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 19px;
  color: #fff;
}

.cnts_msg_bx {
  width: 40%;
}

.cnts_msg_hd {
  padding-top: 0;
}

.cnts_map {
  position: relative;
}

.cnts_map_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 200px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-decoration: none !important;
  text-transform: uppercase;
  font-size: 20px;
  background: #f42a2a;
  color: #fff !important;
}

.cnts_map_btn:hover {
  background: #df0c0c;
}

.cnts_map_btn > i {
  margin-left: 5px;
}

/* DIVISION
=======================================================================================================================*/
.div_nav_drop {
  padding: 10px 0;
  border-top: 1px solid #ddd;
}

.div_nav_drop > li > a {
  display: block;
  padding: 5px 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.div_nav_drop > li.active > a, .div_nav_drop > li > a:hover {
  color: #f42a2a;
}

.div_gal_bx {
  margin-bottom: 40px;
}

.div_gal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.div_gal_it {
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.div_gal_it > img {
  max-height: 100%;
}

.div_gal_capt {
  max-width: 250px;
  padding: 15px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  left: 10px;
  -webkit-transform: translateY(120%);
  -ms-transform: translateY(120%);
  transform: translateY(120%);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  background: rgba(244, 42, 42, 0.95);
  color: #fff;
}

.div_gal_it:hover .div_gal_capt {
  -webkit-transform: initial;
  -ms-transform: initial;
  transform: initial;
}

.div_gal_capt_nm {
  margin-bottom: 10px;
}

.div_gal_capt_nm > h3 {
  margin: 0;
  font-size: 16px;
}

.div_txt_ttl {
  margin-bottom: 30px;
}

.div_txt_ttl > h3 {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
}

.div_txt_cnt {
  font-size: 16px;
}

.prd_bnr_bx {
  position: relative;
}

.prd_pdf {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}

.prd_pdf > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 70px;
  height: 70px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  background: #f42a2a;
  color: #fff;
}

.prd_pdf > a:hover {
  background: #df0c0c;
}

.prd_bnr {
  margin-bottom: 10px;
}

.prd_bnr_it {
  position: relative;
  outline: 0;
}

.prd_bnr_img {
  height: 500px;
  background: center / cover no-repeat;
}

.prd_bnr_capt {
  max-height: 100%;
  padding: 15px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: rgba(38, 38, 38, 0.9);
  color: #fff;
}

.prd_bnr_capt > p {
  margin-bottom: 0;
}

.prd_bnr_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.prd_bnr_nav .slick-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  height: 100px;
  cursor: pointer;
  font-size: 25px;
  background: #f2f2f2;
}

.prd_bnr_nav .slick-arrow:hover {
  background: #f42a2a;
  color: #fff;
}

.prd_bnr_nav .slick-list {
  width: calc(100% - 110px);
}

.prd_bnr_nav_it {
  height: 100px;
  margin: 5px;
  position: relative;
  outline: 0;
  background: center / cover no-repeat;
}

.prd_bnr_nav_it::before {
  content: '';
  display: block;
  border: 2px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.prd_bnr_nav_it.slick-current::before {
  border-color: #f42a2a;
}

/* HEADER
=======================================================================================================================*/
/*__________ Logo +++ __________*/
/*__________ Logo __________*/
