

/*__________ Fonts +++ __________*/
@mixin Fonts($name, $path, $weight: null, $style: null) {
	@font-face {
		font-family: $name;
		src: url($path);
		font-weight: $weight;
		font-style: $style;
	}
}
/*__________ Fonts --- __________*/



/*__________ Heritage +++ __________*/
@mixin InlineBlock($width: null) {
	display: inline-block;
	vertical-align: middle;
	width: $width;
}

@mixin ContinuousText {
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
/*__________ Heritage --- __________*/




/*__________ Absolute +++ __________*/
@mixin Absolute($top: null, $right: null, $bottom: null, $left: null, $margin: null) {
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
	margin: $margin;
}

@mixin AbsoluteWidth($min: 100%,  $max: 120%) {
	min-width: $min;
	min-height: $min;
	max-width: $max;
	max-height: $max;
}
/*__________ Absolute --- __________*/



/*__________ Animation +++ __________*/
@mixin AnimationKey($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-o-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}
/*__________ Animation --- __________*/





/*__________ Column +++ __________*/
@mixin ColumnCount($number) {
	-webkit-column-count: $number;
	-moz-column-count: $number;
	-o-column-count: $number;
	column-count: $number;
}

@mixin ColumnGap($gap) {
	-webkit-column-gap: $gap;
	-moz-column-gap: $gap;
	-o-column-gap: $gap;
	column-gap: $gap;
}
/*__________ Column --- __________*/





/*__________ Text Mask +++ __________*/
@mixin TextMask($elemHeight, $maskHeight: 20px, $maskColor: #fff, $type: true, $maxHeightTop: null) {
	@if $type {
		height: $elemHeight;
	}
	@else {
		max-height: $elemHeight;
	}
	position: relative;
	overflow: hidden;

	&::after {
		content: '';
		display: block;
		height: $maskHeight;
		@include Absolute(null, 0, null, 0);
		@if $type {
			bottom: 0;
		}
		@else {
			top: $maxHeightTop;
		}
		background: linear-gradient(to right, rgba($maskColor, 0.15), $maskColor);
	}
}
/*__________ Text Mask --- __________*/






/*__________ Button Color +++ __________*/
@mixin ButtonBgColor($background, $percent: 10%) {
	background: $background;

	&:hover {
		background: darken($background, $percent);
	}
}


@mixin ButtonReverse($background, $color) {
	background: $background;
	color: $color;

	&:hover {
		background: $color;
		color: $background;
	}
}
/*__________ Button Color --- __________*/





