


@for $i from 1 through 5 {
	.main_nav_menu_ls > li:nth-of-type(#{$i}) {
		animation-delay: (((($i + 4) * 2) / 10) + s) !important;
	}
}





@for $i from 1 through 7 {
	.sec_1 .fp-slidesNav > ul > li:nth-of-type(#{$i}) {
		animation-delay: ((($i * 2) / 10) + s) !important;
	}
}









$contactSocial:
	(facebook, $facebook),
	(twitter, $twitter),
	(linkedin, $linkedin),
	(google-plus, $googlePlus),
	(youtube-play, $youtube);

@each $class, $color in $contactSocial {
	.cnts_join_scl > li > a > i.fa-#{$class} {
		background: $color;
	}

	.cnts_join_scl > li > a > i.fa-#{$class}:hover {
		background: lighten($color, 10%);
	}
}






@for $i from 1 through 6 {
	.prod_sm_it:nth-of-type(#{$i}) {
		animation-delay: (((($i + 3) * 2) / 10) + s) !important;
	}
}





@for $i from 1 through 3 {
	.isu_menu_ls > li:nth-of-type(#{$i}) {
		animation-delay: (((($i - 1) * 3) / 10) + s) !important;
	}
}




@for $i from 1 through 4 {
	.work_advg_it:nth-of-type(#{$i}) > .work_advg_img {
		animation-delay: (((($i - 1) * 2) / 10) + s) !important;
	}
	
	
	.work_advg_it:nth-of-type(#{$i}) > .work_advg_capt {
		animation-delay: (((($i + 6) * 2) / 10) + s) !important;
	}
}



