
// Fonts
$fwLight: 300;
$fwNormal: normal;
$fwMedium: 500;
$fwBold: bold;

$fsItalic: italic;


// Colors
$baseColor: #f42a2a;

$alertColor: #fb3253;




// Socials
$facebook: #3b589e;
$twitter: #00aced;
$instagram: #c21975;
$vkontakte: #436eab;
$youtube: #fe0000;
$googlePlus: #dc4a38;
$odnoklassniki: #f58220;
$linkedin: #0f75b1;

