
@import 'variables';
@import 'mixins';
@import 'heritage';
@import 'operations';
@import 'fonts';


body {
	font-family: $fontBase, sans-serif;
	font-weight: normal;
}

.ov-h {
	overflow: hidden !important;
}

img {
	max-width: 100%;
}


a,
button,
select,
input,
textarea {
	outline: 0 !important;
}

a:focus {
	text-decoration: none;
}

li {
	text-align: inherit;
}




/*__________ Custom Classes +++ __________*/
.cl-b {

	&::before,
	&::after {
		content: '';
		display: table;
	}

	&::after {
		clear: both;
	}
}
.lis-n {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}
.tov-e {
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.d-ib {
	display: inline-block;
	vertical-align: middle;
}
.ap-n {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.us-n {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.inr-c {
	display: flex;
	justify-content: center;
	align-items: center;
}
/*__________ Custom Classes --- __________*/

.h100 {
	height: 100%;
}
.custom_container {
	width: 100%;
	margin: auto;
	padding: 0 15px;
}






/* PAGE NAVIGATION
=======================================================================================================================*/
.pg_nav_sec {

	@at-root .pg_nav {
		position: fixed;
		right: 50px;
		top: 25%;
		z-index: 99;
		
		@at-root .fp-responsive & {
			display: none;
		}
		

		@at-root .pg_nav_menu {
			box-shadow: 1px 1px 8px #c5c5c5;
			background:#fff;

			> li {

				& + li {
					border-top:1px solid #dbdbdb;
				}


				> a {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 80px;
					height: 80px;
					position:relative;
					overflow: hidden;
					text-align: center;
					text-decoration: none;
					text-transform: uppercase;
					font-weight: 600;
					transition: color .5s ease;
					background: #fff;
					color: inherit;
					
					&::before {
						content: '';
						display: block;
						@include Absolute(0, 0, 0, 0, auto);
						animation: slideOutRight .5s ease both;
						background: $baseColor;
						z-index: 1;
					}
					
					
					> span {
						position:relative;
						z-index: 3;
					}
				}


				&.active > a {
					transition-delay: .5s;
					color:#fff;
					
					&::before {
						animation: slideInLeft .5s ease both .5s;
					}
				}
				
				
				&:not(.active) > a:hover {
					color: $baseColor;
				}
			}
		}
	}
}






/* FULLPAGE
=======================================================================================================================*/
.fullpage {

	@at-root .sec {

		@at-root .sec_inr {
			height: 100%;
			position: relative;
		}
	}
}



/*__________ Main +++ __________*/
.sec_1 {
	
	.fp-controlArrow {
		display: none;
	}
	
	
	/*__________ Main Banner Circles __________*/
	.fp-slidesNav {
		left: 15%;
		
		> ul {
			display: flex;
			
			> li {
				width: initial;
				height: initial;
				margin: 0;
				animation: fadeInRight .5s ease both;
				
				& + li {
					margin-left: 10px;
				}
				
				
				> a {
					width: 26px;
					height: 26px;
					border-radius: 50%;
					overflow: hidden;
					background: #fff;
					
					> span {
						display: none;
						width: 70%;
						height: 70%;
						@include Absolute(0, 0, 0, 0, auto !important);
						animation: bounceIn .5s ease;
						background: $baseColor;
					}
					
					
					&.active > span {
						display:block;
						width: 70%;
						height: 70%;
					}
				}
			}
		}
	}
	
	
	/*__________ Main Navigation __________*/
	@at-root .main_nav_bx {
		padding: 20px 0;
		@include Absolute(0, 0, null, 0, auto);

		@at-root .main_nav {
			display: flex;
			justify-content: space-between;
			align-items: center;

			@at-root .main_nav_logo {
				display: flex;
				position: relative;
				z-index: 20;
				
				&.fp {
					display: none;
					animation: zoomIn 1s ease both;
					
					@at-root .fp-completely & {
						display: flex;
					}
				}
				

				> a {
					display: block;

					> img {

					}
				}
			}


			@at-root .main_nav_menu {
				position: relative;
				z-index: 20;
				

				@at-root .main_nav_menu_ls {
					display: flex;
					
					> li {
						
						& + li {
							margin-left: 30px;
						}
						

						> a {
							display: block;
							padding: 10px;
							position: relative;
							text-transform: uppercase;
							text-decoration: none;
							font-size: 18px;
							font-weight: 500;
							color: inherit;
							
							&::before {
								content: '';
								display: block;
								height: 1px;
								@include Absolute(null, 10px, 10px, 10px, auto);
								transform: scale(0, 1);
								transition: all .3s ease;
								background: $baseColor;
							}
						}
						
						
						&.active > a::before,
						> a:hover::before {
							transform: scale(1, 1);
						}
					}
					
					
					&.fp > li{
						display: none;
						animation: fadeInDown .5s ease both;
						
						@at-root .fp-completely & {
							display: block;
						}
					}
				}
			}
		}
		
		
		@at-root .main_nav_menu_btn {
			display: none;
			flex-direction: column;
			width: 40px;
			height: 40px;
			border: 1px solid #fff;
			border-radius: 4px;
			position: fixed;
			top: 15px;
			right: 15px;
			box-shadow: 0 0 7px #888;
			transition: all 0.5s ease;
			background: $baseColor;
			z-index: 99;
			
			> .line {
				display: block;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				position: relative;
				transition: all .3s ease .5s;
				background-color: #fff;
				
				&:nth-of-type(1) {
					top: 3px;
					left: 0;
				}
				
				&:nth-of-type(2) {
					top: -3px;
					right: 0;
				}
				
				&:nth-of-type(3) {
				
				}
				
				&:nth-of-type(4) {
					bottom: -3px;
					left: 0;
				}
				
				&:nth-of-type(5) {
					bottom: 3px;
					right: 0;
				}
			}
			
			&.active {
				right: 265px;
				
				> .line {
					
					&:nth-of-type(1) {
						left: -9px;
					}
					
					&:nth-of-type(2) {
						right: -9px;
					}
					
					&:nth-of-type(3) {
					
					}
					
					&:nth-of-type(4) {
						left: -9px;
					}
					
					&:nth-of-type(5) {
						right: -9px;
					}
				}
			}
		}
		
		
		@at-root .main_nav_menu_bg {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			opacity: 0;
			visibility: hidden;
			background-color: rgba(#000, .4);
			z-index: 95;
			
			&.active {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	
	
	/*__________ Mouse Scroll __________*/
	@at-root .mouse_scl_bx {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 70px;
		@include Absolute(null, 0, 20px, 0, auto);
		z-index: 15;
		
		
		&.fp {
			display: none;
			animation: bounceInUp 1s ease 1.5s both;
			
			@at-root .fp-completely & {
				display: flex;
			}
		}
		
		
		@at-root .fp-responsive & {
			display: none;
		}
		
		
		@at-root .mouse_scl {
			width: 21px;
			height: 35px;
			border: 2px solid #fff;
			border-radius: 9px;
			position: relative;
			animation: animateMouse 5s linear 1s infinite;
			@include AnimationKey(animateMouse) {
				0% {
					-webkit-transform: translateX(0px) rotate(0deg);
					transform: translateX(0px) rotate(0deg);
				}
				3% {
					-webkit-transform: translateX(-5px) rotate(-10deg);
					transform: translateX(-5px) rotate(-10deg);
				}
				6% {
					-webkit-transform: translateX(5px) rotate(10deg);
					transform: translateX(5px) rotate(10deg);
				}
				9% {
					-webkit-transform: translateX(-5px) rotate(-10deg);
					transform: translateX(-5px) rotate(-10deg);
				}
				12% {
					-webkit-transform: translateX(5px) rotate(10deg);
					transform: translateX(5px) rotate(10deg);
				}
				15% {
					-webkit-transform: translateX(-5px) rotate(-10deg);
					transform: translateX(-5px) rotate(-10deg);
				}
				18% {
					-webkit-transform: translateX(0px) rotate(0deg);
					transform: translateX(0px) rotate(0deg);
				}
			}
			
			
			@at-root .mouse_scl_wl {
				display: block;
				width: 3px;
				height: 8px;
				border-radius: 50%;
				@include Absolute(4px, 0, null, 0, auto);
				animation: animateWheel 1s linear infinite;
				@include AnimationKey(animateWheel) {
					0% {
						transform: translateY(0px);
					}
					20% {
						transform: translateY(6px);
					}
					40% {
						transform: translateY(0px);
					}
				}
				background: #fff;
			}
		}
		
		
		@at-root .mouse_scl_capt {
			margin-top: 5px;
			font-size: 12px;
			font-weight: 300;
			-webkit-text-fill-color: transparent;
			-webkit-background-clip: text;
			background-image: linear-gradient(to right, #fff 30%, #000, #fff 70%);
			animation: scrollText 3s linear infinite;
			@include AnimationKey(scrollText) {
				0% {
					background-position: 0 0;
				}
				
				100% {
					background-position: 45px 0;
				}
			}
			color: #fff;
		}
	}
	
	
	/*__________ Main Banner __________*/
	@at-root .main_bnr {
		position:relative;

		@at-root .main_bnr_bg_img {
			@include Absolute(0, 0, 0, 0, auto);
			background: center / cover no-repeat;
		}


		@at-root .main_bnr_capt_bx {
			display: flex;
			align-items: center;
			position: relative;
			z-index: 3;

			@at-root .main_bnr_capt {
				width: 100%;
				max-width: 500px;
				padding: 20px;
				background: rgba(#fff, .4);

				@at-root .main_bnr_capt_h {
					margin-top: 0;
					margin-bottom: 30px;
					font-size: 40px;
					font-weight: bold;

					> .warn {
						color: $baseColor;
					}
				}


				@at-root .main_bnr_capt_p {
					margin-bottom: 0;
					font-size: 18px;
					font-weight: 300;
				}
			}
		}
	}
}
/*__________ Main --- __________*/





/*__________ Product +++ __________*/
.sec_2 {
	
	@at-root .prod_bx {
		background: #eee;
		
		@at-root .fp-responsive & {
			padding: 50px 0;
		}
		
		
		.custom_container {
		
		}
		
		
		@at-root .prod {
			display:flex;
			width: 100%;
			height: 90%;
			
			@at-root .fp-responsive & {
				flex-direction: column;
				max-width: 500px;
			}
			
			
			@at-root .prod_lg {
				width: 33.333333%;
				margin-right: 16px;
				position:relative;
				overflow: hidden;
				
				&.fp {
					display: none;
					animation: fadeInUp .8s ease both;
					
					@at-root .fp-completely & {
						display: block;
					}
				}
				
				
				@at-root .fp-responsive & {
					width: initial;
					height: 500px;
					margin-bottom: 16px;
					margin-right: 0;
				}
				
				
				@at-root .prod_lg_img {
					height: 100%;
					background: center / cover no-repeat;
				}
				
				
				@at-root .prod_lg_capt {
					padding: 20px;
					@include Absolute(null, 0, 0, 0);
					background: $baseColor;
					color: #fff;
					
					&.fp {
						display: none;
						animation: slideInUp 1s ease both 2.1s;
						
						@at-root .fp-completely & {
							display: block;
						}
					}
					
					
					@at-root .prod_lg_info {
						margin-bottom: 15px;
						
						@at-root .prod_lg_ttl {
							height: 52px;
							margin-top: 0;
							margin-bottom: 5px;
							overflow: hidden;
							text-transform: uppercase;
							font-weight: 600;
						}
						
						
						@at-root .prod_lg_txt {
							font-weight: 300;
							
							* {
								margin: 0;
							}
						}
					}
					
					
					@at-root .prod_lg_btn {
						display: flex;
						
						> a {
							display: flex;
							align-items: center;
							padding: 5px 15px;
							border: 1px solid #fff;
							border-radius: 4px;
							text-decoration: none;
							transition: all	.3s ease;
							background: #fff;
							color: $baseColor;
							
							&:hover {
								background: transparent;
								color: #fff;
							}
							
							
							> .txt {
							
							}
							
							
							> i {
								margin-left: 5px;
								font-size: 16px;
							}
						}
					}
				}
			}
			
			
			@at-root .prod_sm_bx {
				width: 66.666666%;
				
				@at-root .fp-responsive & {
					width: initial;
				}
				
				
				@at-root .prod_sm_it_bx {
					display: flex;
					flex-wrap: wrap;
					height: calc(100% + 16px);
					margin: -8px;
					
					@at-root .prod_sm_it {
						width: 33.333333%;
						height: 50%;
						padding: 8px;
						
						&.fp {
							display: none;
							animation: fadeInRight .3s ease both;
							
							@at-root .fp-completely & {
								display: block;
							}
						}
						
						
						@at-root .fp-responsive & {
							width: 50%;
							height: 350px;
						}
						
						
						@at-root .prod_sm {
							height: 100%;
							position:relative;
							overflow: hidden;
							
							@at-root .prod_sm_img {
								@extend .prod_lg_img;
								filter: grayscale(100%);
								transition: all .3s ease;
								
								@at-root .prod_sm:hover & {
									filter: grayscale(0%);
								}
							}
							
							
							@at-root .prod_sm_capt {
								@extend .prod_lg_capt;
								
								@at-root .prod_sm_info {
									@extend .prod_lg_info;
									margin-bottom: 10px;
									
									@at-root .prod_sm_ttl {
										@extend .prod_lg_ttl;
										height: 44px;
										font-size: 20px;
									}
									
									
									@at-root .prod_sm_txt {
										max-height: 0;
										margin-bottom: 0;
										overflow: hidden;
										font-size: 12px;
										font-weight: 300;
										transition: all .3s ease-out;
										
										@at-root .prod_sm:hover & {
											max-height: 100px;
											transition-timing-function: ease-in;
										}
										
										
										* {
											margin: 0;
										}
									}
								}
								
								
								@at-root .prod_sm_btn {
									display:flex;
									
									> a {
										display: flex;
										align-items: center;
										text-decoration: none;
										color: inherit;
										
										> .txt {
										
										}
										
										
										> i {
											margin-left: 5px;
											font-size: 16px;
											transition: all .3s ease;
										}
										
										
										&:hover > i {
											transform: translateX(5px);
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
/*__________ Product --- __________*/





/*__________ Issue +++ __________*/
.sec_3 {
	
	@at-root .isu_bx {
		
		@at-root .isu {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			width: 100%;
			height: 90%;
			
			@at-root .fp-responsive & {
				padding: 50px 0;
			}
			
			
			@at-root .isu_menu {
				height: 60%;
				margin-bottom: 20px;
				
				@at-root .isu_menu_ls {
					display: flex;
					
					@at-root .fp-responsive & {
						flex-direction: column;
						align-items: center;
					}
					
					
					> li {
						width: 33.3333333%;
						
						&.fp {
							display: none;
							animation: fadeInDown .8s ease both;
							
							@at-root .fp-completely & {
								display: block;
							}
						}
						
						
						& + li {
							margin-left: 20px;
						}
						
						
						@at-root .fp-responsive & {
							width: 100%;
							max-width: 500px;
							
							& + li {
								margin-left: 0;
								margin-top: 20px;
							}
						}
						
						
						@at-root .isu_it {
							display: block;
							height: 100%;
							position: relative;
							text-decoration: none !important;
							color: #fff !important;
							
							@at-root .fp-responsive & {
								height: 500px;
							}
							
							
							@at-root .isu_it_div {
								height: 100%;
								position: relative;
								
								> .img {
									height: 100%;
									position: relative;
									filter: grayscale(100%);
									transition: all .3s ease;
									background: center / cover no-repeat;
									
									@at-root .isu_it:hover & {
										filter: grayscale(0%);
									}
									
									
									//&::before {
									//	content: '';
									//	display: block;
									//	@include Absolute(0, 0, 0, 0);
									//	transition: all .5s ease;
									//	background: rgba(#000, .6);
									//
									//	@at-root .isu_it:hover & {
									//		background: rgba(#000, 0);
									//	}
									//}
								}
								
								
								> .name {
									width: 80%;
									padding: 5px 20px;
									@include Absolute(null, 0, 80px);
									text-transform: uppercase;
									font-size: 34px;
									font-weight: 600;
									background: $baseColor;
								}
							}
							
							
							@at-root .isu_it_news {
								height: 100%;
								position:relative;
								
								@at-root .isu_it_news_img {
									height: 100%;
									background: center / cover no-repeat;
								}
								
								
								@at-root .isu_it_news_capt {
									@include Absolute(0, 0, 0, 0);
									overflow: hidden;
									transition: all .5s ease;
									background: rgba($baseColor, .6);
									
									@at-root .isu_it:hover & {
										background: $baseColor;
									}
									
									
									@at-root .isu_it_news_bg {
										padding-top: 5px;
										padding-left: 10px;
										@include Absolute(null, null, 0, 0);
										transform-origin: bottom left;
										transform: rotate(-90deg) translateY(100%);
										
										> .txt {
											display: block;
											white-space: nowrap;
											line-height: 1;
											text-transform: uppercase;
											font-size: 120px;
											font-weight: bold;
											color: rgba(#fff, .15);
										}
									}
									
									
									@at-root .isu_it_news_name {
										display: flex;
										flex-direction: column;
										align-items: center;
										padding: 20px 50px;
										
										> img {
											flex: 0 0 auto;
											width: 50px;
											margin-bottom: 15px;
										}
										
										
										> .txt {
											text-transform: uppercase;
											font-size: 34px;
											font-weight: 600;
										}
									}
								}
							}
						}
					}
				}
			}
			
			
			@at-root .isu_ptnr {
				padding: 20px;
				border: 1px solid #ebebec;
				
				&.fp {
					display: none;
					animation: fadeIn 1s ease both 1.4s;
					
					@at-root .fp-completely & {
						display: block;
					}
				}
				
				
				@at-root .isu_ptnr_head {
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-bottom: 20px;
					padding-bottom: 20px;
					border-bottom: 1px solid #ebebec;
					
					@at-root .isu_ptnr_bnr_btn {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 26px;
						height: 26px;
						cursor: pointer;
						
						&:hover {
							color: $baseColor;
						}
						
						
						> i {
						
						}
						
						
						&.prev {
						
						}
						
						
						&.next {
						
						}
					}
					
					
					@at-root .isu_ptnr_ttl {
						
						> h3 {
							margin: 0;
							text-transform: uppercase;
							font-weight: 600;
						}
					}
				}
				
				
				@at-root .isu_ptnr_body {
					
					@at-root .isu_ptnr_bnr {
						
						.owl-wrapper {
						
						}
						.owl-item {
							
							&.loading {
								min-height: 0;
							}
						}
						
						
						@at-root .isu_ptnr_bnr_img {
							display: flex;
							justify-content: center;
							align-items: center;
							height: 80px;
							padding: 0 20px;
							
							> img {
								max-height: 100%;
							}
						}
					}
				}
			}
		}
	}
}
/*__________ Issue --- __________*/




/*__________ Work +++ __________*/
.sec_4 {
	
	@at-root .work_advg_sec {
		height: 50%;
		background: #f1f1f1;
		
		@at-root .work_advg_bx {
			height: calc(100% - 60px);
			
			@at-root .fp-responsive & {
				padding: 30px 0;
			}
			
			
			@at-root .work_advg {
				width: 100%;
				height: 100%;
				max-height: 300px;
				
				@at-root .fp-responsive & {
					max-height: none;
				}
				
				
				@at-root .work_advg_menu {
					display: flex;
					justify-content:center;
					
					@at-root .fp-responsive & {
						flex-direction: column;
						align-items: center;
					}
					
					
					@at-root .work_advg_it {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						width: 25%;
						padding: 10px;
						background: #fff;
						
						& + & {
							margin-left: 20px;
						}
						
						
						@at-root .fp-responsive & {
							width: 100%;
							max-width: 350px;
							padding: 20px;
							
							& + .work_advg_it {
								margin-left: 0;
								margin-top: 20px;
							}
						}
						
						
						@at-root .work_advg_img {
							flex: 0 0 auto;
							display: flex;
							justify-content: center;
							align-items: center;
							width: 80px;
							height: 80px;
							margin-bottom: 10px;
							padding: 17px;
							border: 2px solid #ebebec;
							border-radius: 50%;
							
							&.fp {
								display: none;
								animation: zoomIn .8s ease both;
								
								@at-root .fp-completely & {
									display: flex;
								}
							}
							
							
							> img {
							
							}
						}
						
						
						@at-root .work_advg_capt {
							
							&.fp {
								display: none;
								animation: fadeInUp .3s ease both;
								
								@at-root .fp-completely & {
									display: block;
								}
							}
							
							
							@at-root .work_advg_name {
								margin-bottom: 10px;
								text-align:center;
								font-size: 22px;
								font-weight: 600;
							}
							
							
							@at-root .work_advg_txt {
								max-width: 270px;
								text-align: center;
								font-weight: 300;
								color: #989797;
								
							}
						}
					}
				}
			}
		}
		
		
		@at-root .work_advg_tg {
			
			
			@at-root .work_advg_tg_txt {
				height: 60px;
				font-size: 26px;
				font-weight: 500;
				background: $baseColor;
				color: #fff;
				
				@at-root .fp-responsive & {
					display: block;
					height: initial;
					padding: 15px;
					text-align: center;
					font-size: 20px;
				}
				
				
				> a {
					margin-left: 10px;
					text-decoration:none;
					border-bottom: 1px solid #fff;
					color: inherit;
					
					&:hover {
						border-bottom-style: dashed;
					}
				}
			}
		}
	}
	
	
	@at-root .work_map_bx {
		height: 50%;
		position: relative;
		
		@at-root .work_map {
			
			@at-root .work_map_img {
				
				> .img {
					height: 100%;
					background: center / cover no-repeat;
					
					@at-root .fp-responsive & {
						height: 400px;
					}
				}
			}
		}
		
		
		@at-root .work_map_foot {
			@include Absolute(null, 0, 0, 0);
			
			@at-root .fp-responsive & {
				position: static;
			}
			
			
			@at-root .foot_bx {
				background: rgba(#000, .8);
				
				@at-root .foot {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 20px 0;
					color: #fff;
					
					
					@at-root .foot_comp_bx {
						margin-right: 20px;
						
						
						@at-root .foot_comp {
							margin-bottom: 5px;
						}
						
						
						@at-root .foot_adrs {
							
							> a {
								color:inherit;
							}
						}
					}
					
					
					@at-root .foot_copy_bx {
						
						@at-root .foot_copy {
							margin-bottom: 5px;
						}
						
						
						@at-root .foot_dev {
							
							> a {
								text-decoration: underline;
								color: #a8a7a7;
								
								&:hover {
									color: $baseColor;
								}
							}
						}
					}
				}
			}
		}
	}
}



.tgr_mdl_bx {
	width: 100%;
	max-width: 500px;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 99;
	overflow-x: hidden;
	overflow-y: auto;
	box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.5);
	transform: translateX(105%);
	transition: all .5s ease;
	background: #fff;
	
	&.active {
		transform: translateX(0);
	}
	
	
	@at-root .tgr_mdl {
		padding: 20px 50px;
		
		@at-root .tgr_mdl_close {
			display: flex;
			justify-content: flex-end;
			margin-bottom: 20px;
			
			> button {
				width: 40px;
				height: 40px;
				border: 0;
				position: relative;
				background-color: transparent;
				
				&::before,
				&::after {
					content: '';
					display: block;
					width: 24px;
					height: 2px;
					@include Absolute(0, 0, 0, 0, auto);
					background: $baseColor;
				}
				
				
				&::before {
					transform: rotate(45deg);
				}
				
				
				&::after {
					transform: rotate(-45deg);
				}
			}
		}
		
		
		@at-root .tgr_mdl_head {
			margin-bottom: 30px;
			
			@at-root .tgr_mdl_ttl {
				
				> h3 {
					margin-top: 0;
					margin-bottom: 20px;
					text-align: center;
					font-size: 40px;
					font-weight: bold;
					
					> span {
						display:block;
						
						&.txt {
						
						}
						
						
						&.warn {
							color: $baseColor;
						}
					}
				}
				
				
				> p {
					margin-bottom: 0;
					text-align: center;
					font-size: 16px;
					color: #717171;
				}
			}
		}
		
		
		@at-root .tgr_mdl_body {
			
			@at-root .tgr_mdl_fm {
				
				@at-root .tgr_mdl_inp_bx {
					
					& + & {
						margin-top: 20px;
					}
					
					
					@at-root .tgr_mdl_inp {
						width: 100%;
						padding: 15px;
						border: 1px solid #ddd;
						background: #f1f1f1;
						
						&:focus {
							background-color:transparent;
						}
					}
					
					
					@at-root .tgr_mdl_btn_sub {
						display: flex;
						justify-content: center;
						
						> button {
							padding: 15px 40px;
							border: 0;
							text-transform: uppercase;
							font-size: 18px;
							font-weight: 600;
							@include ButtonBgColor($baseColor);
							color:#fff;
						}
					}
				}
			}
		}
	}
}

.tgr_mdl_bg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	z-index: 95;
	
	&.active {
		opacity: 1;
		visibility: visible;
	}
}
/*__________ Work --- __________*/
















/* NEWS
=======================================================================================================================*/
.header {
	
	@at-root .hdr_nav {
		padding: 20px 0;
	}
	
	
	@at-root .hdr_bread_sec {
		height: 50px;
		
		@at-root .hdr_bread_sec_inr {
			background: $baseColor;
			color: #fff;
			
			@at-root .hdr_bread_bx {
				display: flex;
				justify-content: space-between;
				
				@at-root .hdr_bread {
					
					@at-root .hdr_bread_ls {
						display:flex;
						border-left: 1px solid #d72626;
						border-right: 1px solid #d72626;
						
						> li {
							position: relative;
							perspective: 500px;
							z-index: 20;
							
							& + li {
								border-left: 1px solid #d72626;
							}
							
							
							> a {
								display:flex;
								justify-content: center;
								align-items: center;
								height: 50px;
								padding: 0 15px;
								text-decoration: none;
								color: inherit;
								
								> .txt {
									font-weight: 500;
								}
								
								
								> i {
									margin-left: 10px;
								}
								
								
								&:hover {
									background: #d72626;
								}
							}
							
							
							&.home {
								
								> a {
									
									> img {
									
									}
								}
							}
							
							
							@at-root .hdr_bread_drop {
								min-width: calc(100% + 2px);
								border: 1px solid #ddd;
								border-top: 0;
								@include Absolute(100%, null, null, -1px);
								z-index: 10;
								opacity: 0;
								visibility: hidden;
								transform: rotate3d(1, 0, 0, -90deg);
								transform-origin: top;
								backface-visibility: hidden;
								transition: all .4s ease;
								background: #fff;
								color: #333;
								
								
								> li {
									
									& + li {
										border-top: 1px solid #f1f1f1;
									}
									
									
									> a {
										display: block;
										padding: 10px 15px;
										white-space: nowrap;
										text-decoration: none;
										color: inherit;
										
										&:hover {
											color: $baseColor;
										}
									}
								}
							}
							
							
							&.active > .hdr_bread_drop {
								opacity: 1;
								visibility: visible;
								transform: rotate3d(0, 0, 0, 0);
							}
						}
					}
				}
				
				
				@at-root .hdr_iqry {
					
					> a {
						display: flex;
						justify-content: center;
						align-items: center;
						height: 50px;
						padding: 0 10px;
						border-left: 1px solid #d72626;
						border-right: 1px solid #d72626;
						text-decoration: none;
						font-weight: 500;
						color: inherit;
						
						> img {
							margin-right: 5px;
						}
						
						
						> .txt {
						
						}
						
						
						&:hover {
							background: #d72626;
						}
					}
				}
				
				
				@at-root .iqryMdl {
					color:#333;
					
					.modal-content {
						border-radius: 0;
					}
					
					
					@at-root .iqryMdl_cnt {
						padding: 20px;
						position: relative;
						
						@at-root .iqryMdl_close {
							width: 40px;
							height: 40px;
							border: 0;
							@include Absolute(-10px, -10px);
							background-color: transparent;
							
							&::before,
							&::after {
								content: '';
								display: block;
								width: 24px;
								height: 2px;
								@include Absolute(0, 0, 0, 0, auto);
								background: $baseColor;
							}
							
							
							&::before {
								transform: rotate(45deg);
							}
							
							
							&::after {
								transform: rotate(-45deg);
							}
						}
						
						
						@at-root .iqryMdl_head {
							margin-bottom: 20px;
							padding-top: 10px;
							
							> h4 {
								margin-top: 0;
								text-transform: uppercase;
								font-size: 24px;
								font-weight: bold;
							}
							
							
							> p {
								margin-bottom: 0;
								font-size: 16px;
								color: #989797;
							}
						}
						
						
						@at-root .iqryMdl_btn_sub {
							
							> button {
								width: 100%;
								padding: 15px;
							}
						}
					}
				}
			}
		}
	}
}



.main {
	
	@at-root .bsc_sec {
		padding-top: 30px;
		padding-bottom: 200px;
		
		@at-root .bsc_bx {
			display:flex;
			
			@at-root .bsc_asd {
				width: 22%;
				margin-right: 30px;
				
				@at-root .bsc_nav {
					
					@at-root .bsc_nav_menu {
						background: #f1f1f1;
						
						> li {
							
							& + li {
								border-top: 1px solid #fff;
							}
							
							
							> a {
								display: flex;
								justify-content: space-between;
								align-items: center;
								padding: 15px;
								border-left: 2px solid transparent;
								text-decoration: none;
								font-size: 16px;
								color: inherit;
								
								> .txt {
									margin-right: 5px;
								}
								
								
								> i {
									transition: all .3s ease;
									color: #b6b5b5;
								}
							}
							
							
							&.active > a,
							> a:hover {
								border-left-color: $baseColor;
								font-weight: 500;
								
								> i {
									transform: rotate(-180deg);
								}
							}
						}
					}
				}
			}
			
			
			@at-root .bsc_cnt {
				width: 78%;
				
				@at-root .bsc_head {
					margin-bottom: 30px;
					
					> .page {
						margin-top: 0;
						text-transform: uppercase;
						font-size: 24px;
						color: #b8b8b8;
					}
					
					
					> .name {
						margin: 0;
						text-transform: uppercase;
						font-size: 36px;
						font-weight: bold;
					}
				}
				
				
				@at-root .bsc_body {
				
				}
			}
		}
	}
}




.news {
	
	@at-root .news_body {
		border-top: 2px solid $baseColor;
		border-bottom: 2px solid $baseColor;
		
		@at-root .news_ftr {
			display: flex;
			border: 1px solid #ddd;
			border-top: 0;
			
			@at-root .news_srch {
				flex: 1 1 auto;
				display: flex;
				align-items: center;
				
				@at-root .news_srch_name {
					flex: 0 0 auto;
					display: flex;
					justify-content: center;
					align-items: center;
					height: 50px;
					padding: 0 15px;
					border-right: 1px solid #ddd;
					font-size: 16px;
					background:#f7f7f7;
				}
				
				
				@at-root .news_srch_tool {
					flex: 1 1 auto;
					display: flex;
					padding: 0 20px;
					
					@at-root .news_srch_tool_it {
						flex: 1 1 auto;
						
						& + & {
							margin-left: 10px;
						}
						
						
						@at-root .news_srch_sel {
							@extend .news_srch_inp;
						}
						
						
						@at-root .news_srch_inp {
							width: 100%;
							height: 30px;
							padding: 0 5px;
							border: 1px solid #b8b8b8;
						}
						
						
						@at-root .news_srch_btn {
							height: 30px;
							padding: 0 15px;
							border: 0;
							text-transform: uppercase;
							font-size: 13px;
							font-weight: 500;
							@include ButtonBgColor($baseColor);
							color: #fff;
						}
					}
				}
			}
			
			
			@at-root .news_ctgr {
				flex: 1 1 auto;
				display: flex;
				align-items: center;
				
				@at-root .news_ctgr_name {
					@extend .news_srch_name;
					border-left: 1px solid #ddd;
				}
				
				
				@at-root .news_ctgr_tool {
					flex: 1 1 auto;
					padding: 0 20px;
					
					@at-root .news_ctgr_sel {
						@extend .news_srch_inp;
					}
				}
			}
		}
		
		
		@at-root .news_its {
			
			@at-root .news_it {
				display:flex;
				padding: 20px 0;
				
				& + & {
					border-top: 1px solid #ddd;
				}
				
				
				@at-root .news_it_img {
					margin-right: 15px;
					
					> .img {
						display:block;
						width: 145px;
						height: 145px;
						transition: all .3s ease;
						background: center / cover no-repeat;
						
						&:hover {
							filter: brightness(150%);
						}
					}
				}
				
				
				@at-root .news_it_cnt {
					flex: 1 1 auto;
					
					@at-root .news_it_name {
						display:flex;
						margin-bottom: 10px;
						
						> a {
							padding-bottom: 5px;
							position: relative;
							text-decoration:none;
							font-size: 24px;
							font-weight: 600;
							color: inherit;
							
							&::before {
								content: '';
								display: block;
								width: 50px;
								height: 2px;
								@include Absolute(null, null, 0, 0);
								transition: all	.3s ease;
								background: $baseColor;
							}
							
							
							&:hover {
								color: $baseColor;
								
								&::before {
									width: 100%;
								}
							}
						}
					}
					
					
					@at-root .news_it_date {
						margin-bottom: 15px;
						
						@at-root .news_it_date_ls {
							display:flex;
							
							> li {
								display:flex;
								
								& + li {
									
									&::before {
										content:'/';
										margin: 0 10px;
									}
								}
								
								
								> .txt {
									margin-right: 5px;
								}
								
								
								> .val {
									color:#808080;
								}
							}
						}
					}
					
					
					@at-root .news_it_txt {
						font-size: 16px;
						
						> p {
						
						}
					}
				}
			}
		}
	}
	
	
	@at-root .news_foot {
		padding: 20px 0;
		
		@at-root .news_pgn_bx {
			display: flex;
			justify-content: center;
			
			@at-root .news_pgn {
				display:flex;
				align-items:center;
				
				@at-root .news_pgn_it {
					
					& + & {
						margin-left: 15px;
					}
					
					
					@at-root .news_pgn_ls {
						display:flex;
						border: 1px solid #d5d5d5;
						
						> li {
							
							& + li {
								border-left: 1px solid #d5d5d5;
							}
							
							
							> a {
								display: flex;
								justify-content: center;
								align-items: center;
								width: 34px;
								height: 34px;
								text-decoration: none;
								color: inherit;
								
								> i {
								
								}
							}
							
							
							&.active > a,
							> a:hover {
								background: $baseColor;
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
}




.footer {

}











/* NEWS INNER
=======================================================================================================================*/
.news_in {
	
	@at-root .news_in_body {
		margin-bottom: 30px;
		
		@at-root .news_in_img {
			width: 33%;
			float: left;
			margin-right: 20px;
			margin-bottom: 20px;
			
			> img {
			
			}
		}
		
		
		@at-root .news_in_cnt {
			
			@at-root .news_in_name {
				margin-bottom: 10px;
				
				> h4 {
					display:flex;
					margin: 0;
					padding-bottom: 5px;
					position: relative;
					font-size: 24px;
					font-weight: 600;
					
					&::before {
						content: '';
						display: block;
						width: 50px;
						height: 2px;
						@include Absolute(null, null, 0, 0);
						transition: all	.3s ease;
						background: $baseColor;
					}
				}
			}
			
			
			@at-root .news_in_date {
				margin-bottom: 20px;
			}
			
			
			@at-root .news_in_txt {
				font-size: 16px;
				
				> p {
				
				}
			}
		}
	}
	
	
	@at-root .news_in_foot {
		
		@at-root .news_in_back {
			display:flex;
			
			> a {
				display:block;
				text-decoration:none;
				font-size: 16px;
				color: $baseColor;
				
				> i {
					transition: all .3s ease;
				}
				
				
				> .txt {
				
				}
				
				
				&:hover > i {
					transform: translateX(-5px);
				}
			}
		}
	}
}













/* IMPORTANT NOTICE
=======================================================================================================================*/
.ntc {
	
	@at-root .ntc_head {
		margin-bottom: 40px;
		border-top: 2px solid $baseColor;
		
		@at-root .ntc_ftr {
			@extend .news_ftr;
			
			@at-root .ntc_ftr_srt {
				flex: 1 1 auto;
				display: flex;
				align-items: center;
				
				@at-root .ntc_ftr_srt_name {
					@extend .news_srch_name;
				}
				
				
				@at-root .ntc_ftr_srt_tl {
					@extend .news_srch_tool;
				}
			}
			
			
			@at-root .ntc_ftr_sch {
				flex: 1 1 auto;
				display: flex;
				
				@at-root .ntc_ftr_sch_name {
					@extend .news_ctgr_name;
				}
				
				
				@at-root .ntc_ftr_sch_tl {
					flex: 1 1 auto;
					display:flex;
					
					@at-root .ntc_ftr_chk_bx {
						display:flex;
						align-items:center;
						padding: 0 20px;
						
						@at-root .ntc_ftr_chk_it {
							
							& + & {
								margin-left: 20px;
							}
							
							
							@at-root .ntc_ftr_chk {
								
								> label {
									margin-bottom: 0;
									padding-left: 20px;
									position: relative;
									cursor: pointer;
									font-weight: normal;
								}
								
								
								> input {
									
									& ~ label::before {
										content: '';
										display: block;
										width: 16px;
										height: 16px;
										border: 1px solid #b8b8b8;
										@include Absolute(2px, null, null, 0);
									}
									
									
									& ~ label::after {
										content: '';
										display: block;
										width: 12px;
										height: 6px;
										border: 2px solid #fff;
										border-top: 0;
										border-right: 0;
										@include Absolute(5px, null, null, 2px);
										opacity: 0;
										transform: rotate(-45deg);
									}
									
									
									&:checked ~ label::before {
										border-color: $baseColor;
										background: $baseColor;
									}
									
									
									&:checked ~ label::after {
										opacity: 1;
									}
								}
							}
						}
					}
					
					
					@at-root .ntc_ftr_inp_bx {
						@extend .ntc_ftr_chk_bx;
						flex: 1 1 auto;
						border-left: 1px solid #ddd;
						
						@at-root .ntc_ftr_inp {
							margin-right: 10px;
						}
						
						
						@at-root .ntc_ftr_inp_btn {
						
						}
					}
				}
			}
		}
	}
	
	
	@at-root .ntc_body {
		border-top: 2px solid $baseColor;
		border-bottom: 2px solid $baseColor;
		
		@at-root .ntc_tb_bx {
			overflow: auto;
			
			@at-root .ntc_tb {
				display: table;
				
				.tr {
					display: flex;
					
					.td {
						flex: 0 0 auto;
						padding: 10px 15px;
						
						& + .td {
							border-left: 1px solid #ddd;
						}
						
						
						&.num {
							width: 85px;
							text-align: center;
						}
						
						
						&.ttl {
							width: calc(100% - 420px);
							min-width: 250px;
						}
						
						
						&.auth {
							width: 145px;
						}
						
						
						&.date {
							width: 110px;
						}
						
						
						&.view {
							width: 80px;
						}
					}
				}
				
				
				@at-root .ntc_tb_head {
					border-bottom: 2px solid #ddd;
					
					.tr {
						
						.td {
						
						}
					}
				}
				
				
				@at-root .ntc_tb_body {
					font-size: 16px;
					
					.tr_bx {
						
						& + .tr_bx {
							border-top: 1px solid #ddd;
						}
						
						
						&:nth-of-type(even) {
							background: #f7f7f7;
						}
						
						
						.tr {
							
							.td {
								padding: 15px;
								
								@at-root .ntc_tb_ttl {
									max-height: 44px;
									overflow: hidden;
									cursor: pointer;
									
									&:hover {
										color: $baseColor;
									}
								}
							}
						}
						
						
						.tr.ttl {
							max-height: 80px;
							overflow: hidden;
							transition: all .3s ease-in;
						}
						
						
						.tr.cnt {
							max-height: 0;
							overflow: hidden;
							transition: all .5s ease-out;
							
							@at-root .ntc_tb_drp {
								display: flex;
								width: 100%;
								border-top: 1px solid $baseColor;
								border-bottom: 1px solid $baseColor;
								
								.td {
									border: 0 !important;
									
									
									&.drp {
										width: calc(100% - 85px);
										
										@at-root .ntc_tb_drp_nm {
											margin-bottom: 10px;
											font-weight: bold;
										}
										
										
										@at-root .ntc_tb_drp_info {
											margin-bottom: 20px;
										}
										
										
										@at-root .ntc_tb_drp_txt{
											font-size: 14px;
											
											> p {
											
											}
										}
										
										
										@at-root .ntc_tb_drp_cls {
											font-size: 14px;
											color: $baseColor;
											
											> .txt {
												border-bottom: 1px solid transparent;
												cursor:pointer;
												
												&:hover {
													border-bottom-color: $baseColor;
												}
											}
										}
									}
								}
							}
						}
						
						
						&.active {
							
							.tr.ttl {
								max-height: 0;
								transition-timing-function: ease-out;
							}
							
							
							.tr.cnt {
								max-height: 1000px;
								transition-timing-function: ease-in;
							}
						}
					}
				}
			}
		}
	}
	
	
	@at-root .ntc_foot {
		padding: 20px 0;
	}
}











/* ABOUT
=======================================================================================================================*/
.about {
	
	@at-root .about_img {
		width: 40%;
		float: right;
		margin-left: 20px;
		margin-bottom: 20px;
		
		> img {
			width: 100%;
		}
	}
	
	
	@at-root .about_txt {
		font-size: 16px;
		
		@at-root .about_ttl {
			margin-bottom: 20px;
			
			> p {
				margin-bottom: 0;
				font-weight: 600;
			}
		}
		
		
		@at-root .about_cnt {
			font-size: 16px;
			
			> p {
				margin-bottom: 15px;
				font-weight: 300;
			}
		}
	}
}




.about_into {
	
	@at-root .about_into_img {
		margin-bottom: 30px;
		
		> img {
			width: 100%;
		}
	}
	
	
	@at-root .about_into_txt {
	
	}
}


.about_htr {
	font-size: 16px;
	font-weight: 300;
	
	@at-root .about_htr_tb_bx {
		margin-bottom: 70px;
		overflow: auto;
		
		@at-root .about_htr_tb {
			
			tr {
				
				&:nth-of-type(even) {
					background: #f7f7f7;
				}
				
				
				td {
					padding: 15px;
					border: 1px solid #ddd;
				}
			}
		}
	}
	
	
	@at-root .about_htr_txt {
		
		@at-root .about_htr_txt_hd {
			margin-bottom: 20px;
			
			> h3 {
				margin: 0;
				text-transform: uppercase;
				font-weight: bold;
			}
		}
		
		
		@at-root .about_htr_txt_bd {
			margin-bottom: 20px;
			
			> p {
			
			}
		}
		
		
		@at-root .about_htr_txt_ft {
			
			> p {
				font-style: italic;
				color: $baseColor;
			}
		}
	}
}











/* CONTACTS
=======================================================================================================================*/
.cnts {
	
	@at-root .cnts_ttl {
		margin-bottom: 30px;
		
		> p {
			margin-bottom: 0;
			font-size: 16px;
		}
	}
	
	
	@at-root .cnts_cnt {
		display: flex;
		
		@at-root .cnts_loc_bx {
			width: 60%;
			margin-right: 30px;
			
			@at-root .cnts_loc {
				margin-bottom: 20px;
				
				@at-root .cnts_loc_ttl {
					margin-bottom: 30px;
					
					> h4 {
						margin: 0;
						text-transform: uppercase;
						font-size: 24px;
						font-weight: bold;
					}
					
					
					&.red > h4 {
						color: $baseColor;
					}
				}
				
				
				@at-root .cnts_loc_cnt {
					display: flex;
					justify-content: space-between;
					align-items: center;
					flex-wrap: wrap;
					font-size: 18px;
					
					@at-root .cnts_loc_it {
						display:flex;
						margin-right: 30px;
						margin-bottom: 30px;
						
						@at-root .cnts_loc_img {
							flex: 0 0 auto;
							margin-right: 20px;
							
							> img {
							
							}
						}
						
						
						@at-root .cnts_loc_info {
							
							@at-root .cnts_loc_name {
								margin-bottom: 5px;
								line-height: 1;
								font-weight: bold;
							}
							
							
							@at-root .cnts_loc_txt {
								color: #989797;
								
								> p {
									margin-bottom: 0;
									
									> a {
										color: inherit;
									}
								}
							}
						}
					}
				}
			}
			
			
			@at-root .cnts_join {
				
				@at-root .cnts_join_ttl {
				
				}
				
				
				@at-root .cnts_join_cnt {
					
					@at-root .cnts_join_scl {
						display:flex;
						flex-wrap: wrap;
						
						> li {
							margin-right: 15px;
							margin-bottom: 15px;
							
							
							> a {
								display: block;
								text-decoration: none;
								color: inherit;
								
								> i {
									display: flex;
									justify-content: center;
									align-items: center;
									width: 60px;
									height: 60px;
									font-size: 19px;
									color:#fff;
								}
							}
						}
					}
				}
			}
		}
		
		
		@at-root .cnts_msg_bx {
			width: 40%;
			
			@at-root .cnts_msg {
				
				@at-root .cnts_msg_hd {
					padding-top: 0;
				}
				
				@at-root .cnts_msg_bd {
				
				}
			}
		}
	}
}


.cnts_map {
	position: relative;
	
	@at-root .cnts_map_img {
		
		> img {
		
		}
	}
	
	
	@at-root .cnts_map_btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 200px;
		height: 60px;
		@include Absolute(0, 0, 0, 0, auto);
		text-decoration: none !important;
		text-transform: uppercase;
		font-size: 20px;
		@include ButtonBgColor($baseColor);
		color: #fff !important;
		
		> .txt {
		
		}
		
		
		> i {
			margin-left: 5px;
		}
	}
}













/* DIVISION
=======================================================================================================================*/
.div_nav {
	
	> li {
		
		> a {
		
		}
		
		
		@at-root .div_nav_drop {
			padding: 10px 0;
			border-top: 1px solid #ddd;
			
			> li {
				
				> a {
					display: block;
					padding: 5px 15px;
					text-transform: uppercase;
					text-decoration: none;
					color: inherit;
				}
				
				
				&.active > a,
				> a:hover {
					color: $baseColor;
				}
			}
		}
	}
}


.div {
	
	@at-root .div_gal_bx {
		margin-bottom: 40px;
		
		@at-root .div_gal {
			display: flex;
			flex-wrap: wrap;
			
			@at-root .div_gal_it {
				margin-bottom: 10px;
				position: relative;
				overflow: hidden;
				
				> img {
					max-height: 100%;
				}
				
				
				@at-root .div_gal_capt {
					max-width: 250px;
					padding: 15px;
					@include Absolute(null, 10px, 10px, 10px);
					transform: translateY(120%);
					transition: all .3s ease;
					background: rgba($baseColor, .95);
					color: #fff;
					
					@at-root .div_gal_it:hover & {
						transform: initial;
					}
					
					
					@at-root .div_gal_capt_nm {
						margin-bottom: 10px;
						
						> h3 {
							margin: 0;
							font-size: 16px;
						}
					}
					
					
					@at-root .div_gal_capt_btn {
						
						> a {
							
							> .txt {
							
							}
							
							
							> i {
							
							}
						}
					}
				}
			}
		}
	}
	
	
	@at-root .div_txt {
		
		@at-root .div_txt_ttl {
			margin-bottom: 30px;
			
			> h3 {
				margin: 0;
				text-transform: uppercase;
				font-weight: bold;
			}
		}
		
		
		@at-root .div_txt_cnt {
			font-size: 16px;
			
			> p {
			
			}
		}
	}
}




.prd_bnr_bx {
	position: relative;
	
	@at-root .prd_pdf {
		@include Absolute(0, 0);
		z-index: 5;
		
		> a {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 70px;
			height: 70px;
			text-transform: uppercase;
			text-align: center;
			text-decoration: none;
			font-size: 12px;
			font-weight:bold;
			@include ButtonBgColor($baseColor);
			color: #fff;
		}
	}
	
	
	@at-root .prd_bnr {
		margin-bottom: 10px;
		
		@at-root .prd_bnr_it {
			position: relative;
			outline: 0;
			
			@at-root .prd_bnr_img {
				height: 500px;
				background: center / cover no-repeat;
			}
			
			
			@at-root .prd_bnr_capt {
				max-height: 100%;
				padding: 15px;
				@include Absolute(null, 0, 0, 0);
				overflow: hidden;
				background: rgba(#262626, .9);
				color: #fff;
				
				> p {
					margin-bottom: 0;
				}
			}
		}
	}
	
	
	@at-root .prd_bnr_nav {
		display:flex;
		justify-content: space-between;
		align-items:center;
		
		.slick-arrow {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50px;
			height: 100px;
			cursor: pointer;
			font-size: 25px;
			background: #f2f2f2;
			
			.slick-prev {
			
			}
			
			
			.slick-next {
			
			}
			
			
			&:hover {
				background: $baseColor;
				color: #fff;
			}
		}
		
		
		.slick-list {
			width: calc(100% - 110px);
		}
		
		
		@at-root .prd_bnr_nav_it {
			height: 100px;
			margin: 5px;
			position: relative;
			outline: 0;
			background: center / cover no-repeat;
			
			&::before {
				content: '';
				display: block;
				border: 2px solid transparent;
				@include Absolute(0, 0, 0, 0);
			}
			
			
			&.slick-current::before {
				border-color: $baseColor;
			}
		}
	}
}



















/* HEADER
=======================================================================================================================*/



/*__________ Logo +++ __________*/
/*__________ Logo __________*/



