
@import 'variables';
@import 'mixins';


/* MIN WIDTH
=======================================================================================================================*/

/* Min Width = 480px
-----------------------------------------------------------------------*/
@media (min-width: 480px) {

/* Min Width = 480px END */
}


/* Min Width = 768px
-----------------------------------------------------------------------*/
@media (min-width: 768px) {
	.custom_container {
		max-width: 750px;
	}
	
/* Min Width = 768px END */
}


/* Min Width = 992px
-----------------------------------------------------------------------*/
@media (min-width: 992px) {
	.custom_container {
		max-width: 970px;
	}
	
/* Min Width = 992px END */
}


/* Min Width = 1200px
-----------------------------------------------------------------------*/
@media (min-width: 1200px) {
	.custom_container {
		max-width: 1170px;
	}
	
/* Min Width = 1200px END */
}


/* Min Width = 1655px
-----------------------------------------------------------------------*/
@media (min-width: 1590px) {
	.custom_container {
		max-width: 1560px;
	}
	
/* Min Width = 1655px END */
}



/* MAX WIDTH
=======================================================================================================================*/

/* Max Width = 1654px
-----------------------------------------------------------------------*/
@media (max-width: 1589px) {
	.prod_lg_capt,
	.prod_sm_capt {
		padding: 15px;
	}
	.prod_lg_ttl {
		height: 44px;
		font-size: 20px;
	}
	.prod_sm_ttl {
		height: 34px;
		font-size: 16px;
	}
	
	
	.isu_it_div > .name {
		font-size: 23px;
	}
	.isu_it_news_name > .txt {
		font-size: 25px;
	}
	
	
	.work_advg {
		max-height: 230px;
	}
	
	
	.pg_nav {
		right: 20px;
	}

/* Max Width = 1654px END */
}


/* Max Width = 1199px
-----------------------------------------------------------------------*/
@media (max-width: 1199px) {
	.work_advg_img {
		width: 70px;
		height: 70px;
	}
	.work_advg_name {
		font-size: 18px;
	}
	.work_advg_txt {
		font-size: 12px;
	}
	
	
	
	.bsc_nav_menu > li > a {
		font-size: 14px;
	}
	.bsc_head > .page {
		font-size: 20px;
	}
	.bsc_head > .name {
		font-size: 32px;
	}
	
	
	.ntc_ftr {
		flex-direction: column;
	}
	.ntc_ftr_srt {
		border-bottom: 1px solid #ddd;
	}
	.ntc_ftr_srt_name,
	.ntc_ftr_sch_name{
		width: 90px;
		border-left: 0;
	}
	
	
	.pg_nav {
		display: none;
	}
	
	
	.news_ftr {
		flex-direction: column;
	}
	.news_srch,
	.news_ctgr {
		align-items: initial;
	}
	.news_srch {
		border-bottom: 1px solid #ddd;
	}
	.news_srch_name,
	.news_ctgr_name {
		width: 100px;
		height: initial;
		padding: 0;
	}
	.news_ctgr_name {
		border-left: 0;
	}
	.news_srch_tool,
	.news_ctgr_tool {
		padding: 15px;
	}
	
/* Max Width = 1199px END */
}


/* Max Width = 991px
-----------------------------------------------------------------------*/
@media (max-width: 991px) {
	.fullpage {
		transform: none !important;
	}
	
	.main_nav_menu {
		width: 250px;
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		overflow-x: hidden;
		overflow-y: auto;
		transform: translateX(105%);
		transition: all 0.5s ease;
		background: $baseColor;
		z-index: 99;
		
		&.active {
			transform: translateX(0);
		}
		
		
		@at-root .main_nav_menu_ls {
			display: block !important;
			
			> li {
				animation: initial;
				
				& + li {
					margin-left: 0;
				}
				
				
				> a {
					padding: 15px;
					color: #fff;
					
					&:before {
						display: none;
					}
				}
				
				
				&.active > a,
				> a:hover {
					background: darken($baseColor, 10%);
				}
			}
		}
	}
	.main_nav_menu_btn {
		display:flex;
	}
	.main_nav_menu_bg {
		display: block;
	}
	
	
	.main_bnr_capt_h {
		font-size: 20px;
		margin-bottom: 15px;
	}
	.main_bnr_capt_p {
		font-size: 14px;
	}
	.sec_1 .fp-slidesNav {
		left: 50%;
	}
	
	
	
	.foot {
		flex-direction: column;
		text-align: center;
	}
	.foot_comp_bx {
		margin-right: 0;
		margin-bottom: 30px;
	}
	
	
	.hdr_bread_sec_inr {
		padding: 30px 0;
	}
	.hdr_bread_sec {
		height: initial;
	}
	.hdr_bread_bx {
		flex-direction: column;
	}
	.hdr_bread_ls {
		flex-direction: column;
		border: 1px solid #d72626;
	}
	.hdr_bread_ls > li + li {
		border-left: 0;
		border-top: 1px solid #d72626;
	}
	.hdr_bread_drop {
		max-height: 0;
		min-width: 100%;
		border: 0;
		position: static;
		overflow: hidden;
		opacity: 1;
		visibility: visible;
		text-align: center;
		transform: initial;
		transition-timing-function: ease-out;
		
		.hdr_bread_ls > li.active > & {
			max-height: 300px;
			transition-timing-function: ease-in;
		}
	}
	.hdr_iqry > a {
		border-bottom: 1px solid #d72626;
	}
	
	
	
	.bsc_bx {
		flex-direction: column;
	}
	.bsc_asd {
		width: 100%;
		margin-right: 0;
		margin-bottom: 30px;
	}
	.bsc_cnt {
		width: 100%;
	}
	.bsc_head {
		text-align: center;
	}
	
	
	.cnts_ttl > p {
		text-align:center;
	}
	
/* Max Width = 991px END */
}


/* Max Width = 767px
-----------------------------------------------------------------------*/
@media (max-width: 767px) {
	.news_it {
		flex-direction: column;
	}
	.news_it_img {
		margin-right: 0;
		margin-bottom: 15px;
		
		> .img {
			width: 100%;
			height: 300px;
		}
	}
	.news_it_date_ls {
		flex-direction: column;
	}
	.news_it_date_ls > li + li::before {
		display: none;
	}
	
	
	.ntc_ftr_sch_name {
		height: initial;
	}
	.ntc_ftr_sch_tl {
		flex-direction:column;
	}
	.ntc_ftr_chk_bx,
	.ntc_ftr_inp_bx {
		padding: 20px;
	}
	.ntc_ftr_chk_bx {
		flex-direction: column;
		align-items: flex-start;
	}
	.ntc_ftr_chk_it + .ntc_ftr_chk_it {
		margin-left: 0;
		margin-top: 20px;
	}
	.ntc_ftr_inp_bx {
		flex-direction:column;
		border-left: 0;
		border-top: 1px solid #ddd;
	}
	.ntc_ftr_inp {
		margin-right: 0;
		margin-bottom: 10px;
	}
	
	.about_img {
		float: none;
		width: 100%;
		margin-left: 0;
	}
	
	
	.cnts_cnt {
		flex-direction: column;
	}
	.cnts_loc_bx {
		width: 100%;
		margin-right: 0;
		margin-bottom: 30px;
	}
	.cnts_msg_bx {
		width: 100%;
	}
	
	
	.cnts_map_btn {
		width: 120px;
		height: 40px;
		font-size: 14px;
	}
	
	
	.div_gal_capt {
		max-width: none;
		left: 0;
		right: 0;
		bottom: 0;
		transform: initial;
		background: $baseColor;
	}
	.div_gal_capt_nm {
		@include TextMask(30px, 15px, $baseColor);
		
		> h3 {
			font-size: 14px;
		}
	}
	
	
	.prd_bnr_img {
		height: 300px;
	}
	.prd_bnr_nav .slick-arrow {
		width: 30px;
		height: 50px;
		font-size: 18px;
	}
	.prd_bnr_nav_it {
		height: 50px;
	}
	.prd_bnr_nav .slick-list {
		width: calc(100% - 70px);
	}
	
	
	.about_htr_tb_bx {
		font-size: 14px;
	}
	
	
	.news_ftr {
		margin-bottom: 20px;
	}
	.news_srch_tool {
		flex-direction: column;
	}
	.news_srch_tool_it + .news_srch_tool_it {
		margin-left: 0;
		margin-top: 15px;
	}
	.news_srch_tool_it:last-of-type {
		display: flex;
		justify-content: center;
	}
	
	
	.news_in_img {
		width: initial;
		float: none;
		margin-right: 0;
	}
	
/* Max Width = 767px END */
}


/* Max Width = 479px
-----------------------------------------------------------------------*/
@media (max-width: 479px) {
	.fp-responsive .prod_sm_it {
		width: 100%;
	}
	
	
	.fp-responsive .isu_it {
		height: 350px;
	}
	
	
	.tgr_mdl {
		padding: 20px;
	}
	
	
	.news_pgn {
		flex-direction: column;
	}
	.news_pgn_it + .news_pgn_it {
		margin-left: 0;
		margin-top: 15px;
	}
	
	
	.iqryMdl_cnt {
		padding: 0;
	}
	.iqryMdl_head {
		padding-top: 30px;
	}
	
/* Max Width = 479px END */
}



